
// mixins
.ctp_values_rules(@fontSize, @fontWeight, @fontColor){
    font-size:@fontSize;
    font-weight:@fontWeight;
    color:@fontColor;
}

// custom styles


.fa-arrow-down{
    color:@error_clr;
    padding-right:10px;
}


/////////////////////// template


.ctp_bullish{
   .ctp_values_rules(@txt_defaultsize_px; @txt_fontweight_bold; @success_clr;);
}
.ctp_bearish{
    .ctp_values_rules(@txt_defaultsize_px; @txt_fontweight_bold; @error_clr); 
}
.ctp_sideways{
    .ctp_values_rules(@txt_defaultsize_px; @txt_fontweight_bold; @dark_4_clr);
}

// info values avg
.ctp_avg_sell{
    .ctp_values_rules(@txt_size_xlarge; @txt_fontweight_light; @error_clr);
}
.ctp_avg_buy{
    .ctp_values_rules(@txt_size_xlarge; @txt_fontweight_light;  @success_clr);
}
.ctp_avg_buy, .ctp_avg_sell{
    padding-right:20px;
}


// widget precent price sell and buy module

.ctp_donut_title{
    position:absolute;
    top:35px;
    left:57px;
    font-size:@txt_size_xsmall;
    //font-weight:
}
.ctp_divider{
    border-left: 2px solid #ccc;
    padding-left:10px;
}
.ctp_sell_title{  
     display:inline-block;
    span{
        display:block;
        padding:0;
        margin:0;
    }
}
.ctp_buy_title{
    &:extend(.ctp_sell_title all);
    padding-right:10px;
}

.ctp_top_cell, .ctp_top_buy{
    font-style:italic;
}

.c3-legend-item{
    display:none; // hide something that i don´t remember
}

// widget cols avg prices values

.fxs_widget_avg_price{
    display:inline-block;
    padding-bottom:10px;
    width:40%;
}
.fxs_module_cols_avg{
    padding-left:20px;
    float:left;
}

.widget_avg_small{
    display:block;
}


// ######################## main graphics content

.fxs_widget_content_module, .fxs_widget_bars_content{
    &:extend(.fxs_widget_divider_module);
}





