
// mixins
.ctp_values_rules(@fontSize, @fontWeight, @fontColor){
  font-size:@fontSize;
  font-weight:@fontWeight;
  color:@fontColor;
}

/////////////////////// template

// widget donut module
.ctp_graphic_container{
  display:inline-block; 
  max-width:200px;
  position:relative;
  vertical-align: middle;
  tspan{
    display:none; // hide default 0 - 100 numbers in pugin
  }
}

.ctp_icon_sell{
  border-left:5px solid @error_clr;
  padding-left: 2px;
  vertical-align:middle;
}

.ctp_icon_buy{
  border-left:5px solid @success_clr;
  padding-left: 2px;
  vertical-align:middle;
  margin-right:10px;
}

// info values avg
.ctp_avg_sell{
  .ctp_values_rules(@txt_size_xlarge; @txt_fontweight_light; @error_clr);
}
.ctp_avg_buy{
  .ctp_values_rules(@txt_size_xlarge; @txt_fontweight_light;  @success_clr);
}
.ctp_avg_buy, .ctp_avg_sell{
    padding-right:20px;
}

.ctp_custom_avg_price{
    font-size: 1.25rem;
    font-weight: 300;
    padding-right: 20px;
}


// widget precent price sell and buy module

.ctp_custom_content{
    position:absolute;
    top:35px;
    left:57px;
    font-size:@txt_size_xsmall;
}

.ctp_divider{
  border-left: 2px solid #ccc;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
}


// this is new for TEXT CONTEXTUAL COLORS

.ctp_price_precent{
    display:inline-block;
    span, .widget_avg_small{
        display:block;
        padding:0;
        margin:0;
    }
}
.fxs_txt_custom{
    font-size:@txt_size_xlarge;
    font-weight:@txt_fontweight_bold;
}
.ctp_price_percent_sell{  
     &:extend(.ctp_price_precent all);
}
.ctp_price_percent_buy{
    &:extend(.ctp_price_precent all);
    padding-right:5px;
}

.ctp_top_cell, .ctp_top_buy{ font-style:italic; }

// widget cols avg prices values

.fxs_widget_avg_price{
  display:inline-block;
  width:50%;
  vertical-align: middle;
  margin-left: 1rem;
}
.fxs_module_cols_avg{
    display:inline-block;
    @media (min-width: @screen-m) { margin-left: 1rem; }
}

.widget_avg_small{
    display:block;
}


// ######################## graphics main content

// size block percent and align buy percent

.ctp_custom_buy_sell_percent{
  max-width:175px;
}
.ctp_custom_sell_title{
    float:right;
}



.ctp_custom_multiasset{
    display:block;
    @media (min-width: @screen-m) {
        display:inline-block;
        vertical-align: top;
        width:20%;
    }
}

.ctp_wrapper_avg_graphic{
    display:inline-block;
    vertical-align: top;
    width: 100%;
    max-height: 86px;
    overflow:hidden;
     @media (min-width: @screen-m) {
        width:33%;
    }
}
.ctp_custom_price{ 
    display:inline-block;
    width:100%;
    vertical-align: top;
    margin-left: 0;
    @media (min-width: @screen-m) {
      width:33%;
      padding-left: 1rem;
    }
}

// CTP Table 
.fxs_ctp_table {
  tbody, thead, tfoot {
    >tr >td, >tr >th {
      &:not(:nth-child(-n+3)) { display: none; }
      &:last-child { display: table-cell; }
      @media (min-width: @screen-m){
        &:nth-child(n+4):nth-child(-n+5) { display: table-cell; }
      }
      @media (min-width: @screen-l){
        &:nth-child(n+5) { display: table-cell; }
      }
    }
  }
  .fxs_ctpTable_order {
    a:extend(.fxs_clearfix all) {}
    @media (min-width: @screen-m){
      a {
        &::before, &::after {
          content: none;
          display: inline-block;
        }
      }
    }
  }
}