body{
    color: #49494f;
    font-family: Roboto,sans-serif;
    font-size: 1rem;
    height: 100%;
    line-height: 1.38rem;
    margin: 0; 
}
.fxs_header {
    background-color: #242d38;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 9999;
    left: 0;
    border-top: 5px solid #e4871b;
}
.fxs_logo {
    display: inline-block;
    float: left;
    width: 111px;
    height: 0;
    background: url(https://staticcontent.azureedge.net/website/img/logos/fxs_logo_2.png) 0 0 no-repeat;
    background-size: contain;
    font-size: 15px;
    overflow: hidden;
    padding-top: 1.568rem;
    margin: 10px 10px .25rem 10px;
}
.fxs_wrapper {
    width: 100%;
    overflow: hidden;
    padding-top: 50px;
    position: relative;
}
.fxs_content {
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.fxs_detail {
    margin-bottom: 7.5px;
    padding: 1rem;
    position: relative;
}
.fxs_entryHeadline{
	font-size: 1.34rem;
	padding:0;
	margin: 0;
}
.fxs_entryHeadline a{
	color: #1b1c23;
	display: block;
}
.fxs_entry_metaInfo {
    font-size: .8rem;
}
.fxs_article_author {
    vertical-align: top;
    display: inline-block;
}
.fxs_article_body, .fxs_entryFeatured_big, .fxs_entryExcerpt, .fxs_entryPlain_txt_large {
    font-size: 1rem;
    line-height: 1.35em;
    font-weight: 300;
}
.fxs_sectionTitle {
    margin: auto auto 6px;
    padding: 7.5px 1rem;
    height: 35px;
    position: relative;
    border-bottom: 2px solid #ccc;
}
.fxs_sectionTitle_header {
    display: inline-block;
    color: #2f2f33;
    font-size: 1rem;
    letter-spacing: normal;
    text-transform: uppercase;
	font-style: italic;
}
.fxs_divider_second {
  height: 1px;
  background-color: #ccc;
  border:none;
}
.fxs_divider_second::before{
	content: " ";
		display: table;
}
a{
	color: #e4871b;
	text-decoration: none;
}
img{
	width: 100%;
	height: 100%;
}
/* /////////////////// media queries //////////////////////// */
@media (min-width: 680px){
.fxs_article_body, .fxs_entryFeatured_big, .fxs_entryExcerpt, .fxs_entryPlain_txt_large {
    font-size: 1.2rem;
    line-height: 1.35em;
    font-weight: 300;
}