// Vendor imports
@import "../../../website-css/less/vendor/lesshat.less";  // lesshat - LESS Mixins library

// Application variables & mixins
@import "../../../website-css/less/vars.less";
@import "../../../website-css/less/mixins.less";


// heatmap default properties and columns //
.fxs_widget_column {
  float: left;
  width: 50%;
  .widget-column-default-parameters();
}

.fxs_widget_heatmap {
  .fxs_widget_price {
    *, .fxs_asset_label::before,
    .fxs_asset_label a, .fxs_asset_label a:hover  {
      color: @lightest_clr;
      font-size: @txt_size_small;
      text-decoration: none;
      cursor: pointer;
    }
    .fxs_asset_label::before { font-size: @txt_size_xsmall; }
    &:hover{
      opacity: 0.75;
      cursor: pointer;
    }
  }
  &.fxs_widget_mini{
    .fxs_widget_column {
      width:100%;
    }
  }
  &.fxs_widget_default{
    .fxs_widget_column {
      .widget_md_column(3);
    }
  }
  &.fxs_widget_big {
    .fxs_widget_column {
      .widget_xlg_column(2);
    }
  }
}

// heatmap gradient
.fxs_widget_heatmap_high, .fxs_widget_heatmap_low, .fxs_widget_heatmap_gradient_linear {
  display:inline-block;
  vertical-align: middle;
}
.fxs_widget_heatmap_gradient_linear{
  .background-image(linear-gradient(
    to right,
    @success_clr 0px,
    @success_clr 20px,
    @lightest_clr 21px,
    lighten(@success_clr, 10%) 22px,
    lighten(@success_clr, 10%) 40px,
    @lightest_clr 21px,
    @light_2_clr 42px,
    @light_2_clr 60px,
    @lightest_clr 61px,
    lighten(@error_clr, 20%) 62px,
    lighten(@error_clr, 20%) 80px,
    @lightest_clr 81px,
    @error_clr 82px,
    @error_clr 100px
    ));
  width: 100px;
  height: 18px;
}
