// Application variables
@import "../../../website-css/less/vars.less";

////////////////////////////////////////////////
//////////// Widget Gauge module //////////////
//////////////////////////////////////////////
.forecast_results_list {
  li {
    white-space: nowrap;
    margin-bottom: 0.5rem;
    font-size: @txt_size_small;
    .fxs_widget_custom_bold {
      width: @base_module_size;
      display: inline-block;
    }
  }
}

.forecast_result_txt {
  &:extend(.fxs_txt_neutral);
  display: inline-block;
}

.forecast_avg_result {
  padding-top: 0.5rem;
  border-top: 2px solid @light_1_clr;
  .fxs_widget_custom_bold {
    &:extend(.fxs_txt_neutral);
  }

  &.result_bullish {
    border-top-color: @success_clr;
    .fxs_widget_custom_bold {
      &:extend(.fxs_txt_success);
    }
  }
  &.result_bearish {
    border-top-color: @error_clr;
    .fxs_widget_custom_bold {
      &:extend(.fxs_txt_danger);
    }
  }
}

// Single asset module
.fxs_forecast_widget {
  .fxs_gauge_container, .fxs_widget_avg_col { vertical-align: top; }
  .fxs_widget_avg_col {
    margin-left: 0;
    padding-top: 2px;
  }
}