.forecast_results_list li {
  white-space: nowrap;
  margin-bottom: 0.5rem;
  font-size: 0.88rem;
}
.forecast_results_list li .fxs_widget_custom_bold {
  width: 35px;
  display: inline-block;
}
.forecast_result_txt {
  display: inline-block;
}
.forecast_avg_result {
  padding-top: 0.5rem;
  border-top: 2px solid #8b8c91;
}
.forecast_avg_result.result_bullish {
  border-top-color: #338473;
}
.forecast_avg_result.result_bearish {
  border-top-color: #ce4735;
}
.fxs_forecast_widget .fxs_gauge_container,
.fxs_forecast_widget .fxs_widget_avg_col {
  vertical-align: top;
}
.fxs_forecast_widget .fxs_widget_avg_col {
  margin-left: 0;
  padding-top: 2px;
}
