#titol
{
    padding:0 3% 1%;
    width:84%;
	margin:auto;
}

dt 
{
    font-weight:bold;
}

span.Node
{
    color:#404080  
}

span.Attribute
{
    color:#804040
}

#menu ul li span{
    width:100px;
    padding:5px 7px;
    text-decoration:none;
    color:#fff;
    padding:12px 10px;
    display:inline-block;
    width:auto;
    font-size:1.4em;
    background:#667A92;
    
    
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    outline:none;
}


/* CSS - Economic Calendar Documentation*/
body {
   /* margin:0;*/
    background:#ccc;
    width:1080px;
    margin:auto;
}
#fxec_documentation{
    width:100%;
    overflow:hidden;
    margin:0;
    padding: 0;
    font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
    font-size:10pt;
    color:#626466;
    background:#ccc;
}
a, a:visited{
    color:#0B3395;
    text-decoration:none;
}
a:hover{
    color:#FA8802;
}

/*NAVIGATION*/
.menu {
    background:#8195AD;
    width:90%;
    margin:auto;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
}
.menu ul{
    width:96%;
    margin:0;
    padding-top:5px;
    padding-left:2%;

}

.menu ul li{
    list-style:none;
    display:inline;
}

.menu ul li a{
    width:100px;
    padding:5px 7px;
    font-weight:bold;
    text-decoration:none;
    color:#fff;
    padding:12px 10px;
    display:inline-block;
    width:auto;
}
.menu ul li a:visited{
    color:#efefef;
    outline:none;

}
.menu ul li a:hover{
    color:#333333;
    background:#FFFFFF url(../img/bg-header.gif) repeat-x scroll left top;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    outline:none;
}


/*CONTENT*/
#content{
	padding:0 3% 1%;
	background:#ffffff url(../img/bg-header.gif) repeat-x scroll left top;
	overflow:hidden;
	width:84%;
	margin:auto;
}
#content h1, #content h2{
    color:#446081;
}
#content h1{
    margin-top:15px;
}
#content h2{
    margin-top:4%;
}
#content p{}
#content p a{}
#content p a:visited{}
#content p a:hover{}


/*LIST*/
#content ul{}

/*Page List*/
#content ul.list-page{
    padding-left:3%;
}
#content ul.list-page li{
    background:#ffffff url(../img/paper.png) no-repeat scroll left center;
    list-style:none;
    padding:6px 19px 1px;
}


/*Notification List*/
#content ul.list-notification{
    padding-left:2.5%;
}
#content ul.list-notification li{
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#FFFFFF url(../img/i_puntvermell.gif) no-repeat scroll 15px 20px;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    padding:4px 25px 0;
}
#content ul.list-notification li h3{
     margin-bottom:0;
}
#content ul.list-notification li p{
    margin:0;
}
p.samples {
    border: 1px solid rgb(184, 201, 217); 
    padding: 10px 1%; 
    background: rgb(241, 245, 248) none repeat scroll 0pt 0pt; 
    width: 97%;
}


div#content p a.button-cal,div#content p a.button-cal:visited{
    background:#fff url(../img/button-cal.jpg) no-repeat scroll left center;
    display:block;
    height:19px;
    text-indent:-9999px;
    padding:10px;
    outline:none;
}

div#content p a.button-cal:hover{
    background:#fff url(../img/button-cal-hover.jpg) no-repeat scroll left center;
}


#footer{
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#FFFFFF url(../img/bg-footer.gif) repeat-x scroll left bottom;
    display:block;
    height:20px;
    margin:auto;
    overflow:hidden;
    padding:0 3% 1%;
    width:84%;
}