.fxs_clear_both {
  width: 100%;
  clear: both;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.fxs_transition {
  transition: all .25s ease;
}
.fxs_relativePositioning {
  position: relative;
}
@-webkit-keyframes slide-from-top {
  from {
    margin-top: -35px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
@-moz-keyframes slide-from-top {
  from {
    margin-top: -35px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
@-ms-keyframes slide-from-top {
  from {
    margin-top: -35px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
@-o-keyframes slide-from-top {
  from {
    margin-top: -35px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
@keyframes slide-from-top {
  from {
    margin-top: -35px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
