// SUSCRIBE NEWSLETTER
.fxs_suscribe {
  .fxs_wideWidget_pre(3px solid @light_4_clr; 3px solid @light_4_clr);
  background-color: @dark_2_clr;
}

.fxs_suscribeForm {
  &:extend(.fxs_clearfix all);
  @media (min-width: @screen-s) {
    float: left;
    .calc(width, ~'100% - 220px'); 
  }
}

.fxs_suscribeSocial {
  &:extend(.fxs_clearfix all);
  @media (min-width: @screen-s) { float: right; }
}

.fxs_suscribeForm, .fxs_suscribeSocial {
  .no_wide_content & {
    @media (min-width: @screen-s) { float: none; width: inherit; }
  }
}

.fxs_suscribeText {
  color: @lightest_clr;
  font-weight: @txt_fontweight_light;
  margin-bottom: 0.5rem;
  span { &:extend(.fxs_boldAntialised_style); }
}

// Entries plain text General
.fxs_entryExcerpt { &:extend(.fxs_entryPlain_txt); }

// SEXY BANNER
.fxs_sexy_banner {
  &:extend(.fxs_clearfix all, .fxs_marginBase_bottom);
  position: relative;
  &:hover {
      //cursor: pointer;
      .fxs_sexy_bannerText { background-color: fade(@dark_2_clr, 85%); }
      .fxs_sexy_bannerImg { .opacity(.75); }
  }
}

.fxs_sexy_bannerText {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  padding: @txt_defaultsize_rem;
  background-color: fade(@dark_2_clr, 80%);
  height:100%;
  width: 100%;
  @media (min-width: @screen-l) {width:80%;}
  @media (min-width: @screen-xl) {width:70%;}
  @media (min-width: @screen-s) { padding: 2rem; }
  .fxs_entryHeadline, .fxs_entryHeadline a, .fxs_entryPlain_txt, .fxs_helperLabel_title, .fxs_entry_metaInfo { color: @lightest_clr; }
  header, .fxs_helperLabel_title{
      margin-bottom: 0.5rem;
      @media (min-width: @screen-s) { margin-bottom: @txt_defaultsize_rem; }
  }
  .fxs_entryHeadline {
    font-size: @txt_size_large;
    line-height: @txt_lineheight;
    margin-bottom: 5px;
    z-index: 2;
    @media (min-width: @screen-s) {
      font-size: @txt_size_xhuge;
      line-height: @txt_lineheight_xlarge;
    }
  }
  .fxs_entryPlain_txt, .fxs_helperLabel_title { /*display: none;*/ }
  /*.fxs_helperLabel_title {
    @media (min-width: @screen-l) { display: inherit; }
  }
  .fxs_entryPlain_txt {
    @media (min-width: @screen-xl) { display: inherit; }
  }*/
}

.fxs_sexy_bannerImg {
  &:extend(.fxs_mediaContainer all);
  &:before{
    padding-top:100%;
  }
  margin-bottom: 0;
  @media (min-width: @screen-s) {
    max-height: 350px;
  }
  img{
    max-width: none;
  }
}

// Entries list
.fxs_entriesList {
  margin-bottom: 1rem;
  &.fxs_entriesList_alternative{ 
    li{
      padding: 0.5rem 0;
    }
  }
  ol { &:extend(.fxs_list_unstyled); }
  li {
    padding: 0.5rem 0;
    //border-bottom: 1px solid @light_4_clr;
    &:first-child { padding-top: 0.5rem; }
    &:last-child { border-bottom: none; }
  }
  .fxs_entryHeadline {
    &:extend(.fxs_headline);
    margin-bottom: 0.25rem;
  }
  &.fxs_crawling_page {
    @media(min-width:@screen-l) { max-width: 75%; }
    .fxs_entryHeadline {
      @media(min-width:@screen-s){ font-size: @txt_size_xxlarge; }
    }
  }
  &.fxs_links_list_module{
    li{
      article{
        h3{
          a{
            color:@highlight_clr;
            &:hover{
              color:@dark_1_clr;
            }
          }
        }
      }
    }
  }
}

// Entries featured
.fxs_entryFeatured {
  &:extend(.fxs_marginBase_bottom);
  header { margin-bottom: 0.5rem; }
  //border-bottom: 1px solid @light_4_clr;
  &:hover {
    cursor: pointer;
    .fxs_entryFeatured_img img { .opacity(.75); }
  }
  // for small colls
  &.fxs_article_author_small_cols{
    //max-height:0;
    @media(min-width:@screen-s){
      min-height:130px;
    }
    @media(min-width:@screen-l){
      min-height:100px;
    }
    .fxs_article_author{
      .calc(max-width, ~'100% - ( @{avatar_l} + 10px )');
    }
  }
  .fxs_article_author {
    .calc(max-width, ~'100% - ( @{avatar_s} + 5px )');
  }
  .fxs_medium_clean_video_label{
    position: relative;
    .fxs_label_featured,.fxs_miniLabel_video{
      display:inline-block; position: inherit;
    }
  }
}

.fxs_entryFeatured_img {
  &:extend(.fxs_mediaContainer all);
  .fxs_label {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
  }
}

.fxs_entryFeatured_big {
    .fxs_entryHeadline { &:extend(.fxs_headline_large all); }
    .fxs_entryExcerpt { &:extend(.fxs_entryPlain_txt_large all); }
}

.fxs_entryFeatured_med {
  .fxs_entryHeadline { &:extend(.fxs_headline_medium all); }
}

.fxs_entryFeatured_reduced {
  .fxs_entryHeadline { &:extend(.fxs_headline_from_tiny_to_small all); }
}

.fxs_entryFeatured_imgSide {
  &:extend(.fxs_clearfix all);
  .fxs_entryExcerpt { display: none; }
  .fxs_entryFeatured_img {
      &:extend(.fxs_floatingMedia_imageContainer);
      margin-bottom: 0;
      width: 33%; 
  }
  .fxs_entryHeadline { &:extend(.fxs_headline_from_tiny_to_medium all); }
  @media (min-width: @screen-s) {
    .fxs_entryExcerpt { display: inherit; }
  }
}

////////////////////////////////////////////
////////////// Live video /////////////////
// Featured Video content
.fxs_miniLabel_video {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 0.25rem;
  display: block;
  font-size: @txt_size_xsmall;
  color: @lightest_clr;
  background-color: fade(@dark_2_clr, 90%);
  text-align: center;
  .fxs_entryFeatured_img & {
    padding: 0.5rem 1rem;
    i, span { display: block; }
    i {
      font-size: @txt_size_huge;
      margin-bottom: 0.25rem;
    }
  }
}

/////////////////////
// live event module
.fxs_live_event_module {
  &:extend(.fxs_wideContent all, .fxs_wideItem_pre_space all);
  background-color: @dark_2_clr;
  border-bottom: 3px solid @light_4_clr;
  color: @light_3_clr;
  margin-top: -1rem;
  overflow: hidden;
  padding: 0;
  position: relative;
  @media (min-width: @screen-s) { margin-top: -1.5rem; }
  .fxs_sideImage_headline {
    &:extend(.fxs_clearfix all);
    .fxs_avatar_circleImage_s {
      float: left;
      margin-right: 0.5rem;
      @media (min-width: @screen-s) {
        width: @avatar_l;
        height: @avatar_l;
        margin-right: 1.5rem;
      }
    }
  }
  .fxs_entryHeadline {
    &:extend(.fxs_headline_medium all);
    a { color: @lightest_clr; }
  }
  .fxs_helperLabel_title {
    display: block;
    color: @light_3_clr;
    margin-bottom: 0.5rem;
  }
  .fxs_pricing_table_block {
    color: @dark_4_clr;
    position: relative;
    z-index: 2;
    margin: 0 0 -1rem;
  }
  .fxs_live_event_cta_content, .fxs_pricing_table { margin: 0 auto; }
  .fxs_pricing_table {
    &:extend(.fxs_wideItem_pre_space all);
    max-width: @left_rail_space * 2;
  }
  .fxs_content_panel {
    margin-top: -@main_header_height*2;
    padding-top: @main_header_height*2;
  }
  .fxs_relativePositioning { z-index: 2; }
}

// Live event modules components
.fxs_background_video {
  background: url('https://staticcontent.azureedge.net/website/img/video_cta_bg.jpg') no-repeat @dark_2_clr;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  &::after {
    background: url('https://staticcontent.azureedge.net/website/img/pixel_pattern_layer.png') repeat transparent;
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .on_air & .fxs_placeholder_video.fxs_onAir_item {
    &:extend(.fxs_hidden_xs all);
  }
}
.fxs_live_event_module{
  .fxs_passed_item{
    display: none;
  }
  &.finished_event{
    .fxs_passed_item{
      display: block;
    }
    .fxs_next_item,.fxs_onAir_item {
      display: none;
    }
  }
  &.fxs_live_event_data_box{
    margin-top: 0;
    margin-left: 0;
    margin-right:0;

  }
}

.fxs_onAir_item {
  display: none;
  .on_air & {
    display: inline-block;
    .animation(fadeIn 0.33s ease-in);
  }
}

.fxs_not_onAir_item {
  .on_air & { display: none; }
}

.fxs_event_time {
  display: inline-block;
  font-size: @txt_size_xsmall;
  vertical-align: middle;
}

.fxs_event_sponsor, .fxs_table .fxs_event_sponsor {
  white-space: nowrap;
  text-align: right;
  .fxs_squareImage_s {
    vertical-align: middle;
    margin-left: 5px;
  }
}

.fxs_live_event_module_summary {
  &:extend(.fxs_dTable);
  background-color: @dark_1_clr;
  border-bottom: 1px solid @dark_4_clr;
  color: @light_1_clr;
  height: @main_header_height;
  margin-bottom: 1rem;
  padding: 4px 3%;
  position: relative;
  z-index: 2;
}

.fxs_event_summary_data {
  display: table-cell;
  vertical-align: middle;
  .fxs_label {
    margin: 0;
    color: @light_5_clr;
  }
}

.fxs_live_event_cta_content {
  &:extend(.fxs_wideItem_pre_space all);
  max-width: @left_rail_space * 2;
  position: relative;
  z-index: 2;
}

.fxs_main_cta_block {
  margin: 1rem 1rem 1rem @avatar_s+@half_base_spacer;
  @media (min-width: @screen-s) {
    margin: 1.5rem 1.5rem 1.5rem @avatar_l+@txt_defaultsize_px+5px;
  }
}

.fxs_timer_countdown_block {
  margin-bottom: 1rem;
  width: 250px;
  position: relative;
  z-index: 2;
  &.fxs_absolute_center {
    position: absolute;
    margin-top: -90px;
    margin-left: -125px;
    text-align: center;
  }
}

.fxs_countdown {
  margin-bottom: 0.5rem;
  display: inline-block;
  width: 100%;
}

.fxs_countdown_clock {
  font-size: @txt_size_xsmall;
  >span {
    display: inline-block;
    text-align: left;
    &:not(:first-child) { margin-left: 0.33rem; }
  }
  .fxs_widget_custom_data_lable {
    &:extend(.fxs_boldAntialised_style);
    .on_air & { color: @error_clr; }
  }
}

////////////////////////////////
// Live video topic page widget
.fxs_video_chat_block {
  position: relative;
  overflow: hidden;
}

.fxs_live_video_main_media {
  margin: 1px;
  margin-bottom: 0;
  @media (min-width: @screen-s) { margin-right: 33.33333333%; }
}

.fxs_live_chat_block {
  display: none;
  @media (min-width: @screen-s) {
    background-color: lighten(@light_5_clr, 2%);
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 33.33333333%;
    z-index: 1;
  }
  &.fxs_live_chat_block_module{
    position: inherit;
    width:100%;
    height:456px;
  }
}

.fxs_live_event_cell {
  vertical-align: top;
  @media (min-width: @screen-s) { display: table-cell; }
  .fxs_live_event_cta_content {
    max-width: inherit;
    padding-top: 0;
    padding-bottom: @half_base_spacer;
  }
  .fxs_btn_content_toggle {
    color: @light_2_clr;
    &:hover { color: @light_3_clr; }
  }
  &.fxs_current_item { background-color: @dark_1_clr; }
  &.fxs_upcomming_item {
    &, .fxs_live_event_module_summary { background-color: lighten(@dark_2_clr, 3%); }
    .fxs_entryHeadline {
      &:extend(.fxs_headline_from_tiny_to_small all);
    }
    @media (min-width: @screen-s) { width: 33.33333333%; }
  }
}
