html { font-family: 'Roboto', sans-serif; }
.header, .header-bar, .header-avatar,
.header-channel, .header-status, .nav,
.twitter-button-icon, .join-button--twitter,
.join-or, .join-hint {
    display: none;
}

.message-input { border-radius: 0; }

/*Join form:*/
.join {
    border-radius: 0;
    border-width: 1px 0 0;
}

.join-form { width: 100%; }

.input-text { width: 100%; }

#chat.chat { padding-top: 15px; }