html { font-family: 'Roboto', sans-serif; }
.header, .header-bar, .header-avatar,
.header-channel, .header-status, .nav,
.twitter-button-icon, .join-button--twitter {
    display: none;
}

/*Join form:*/
.join {
    border-radius: 0;
    border-width: 1px 0 0;
}

.join-form { width: 100%; }

.input-text { width: 100%; }

.join-or {
    visibility: hidden;
}

/*.join-hint {
    visibility: hidden;
    font-size: 1px;
    color: #999;
    margin-bottom: 0;
}

#chat.chat {
    padding-top: 10px;
}*/