body.sfPageEditor {
  overflow: auto!important;
  background-color: #DEE2E7;
  /*
        Se agrega la regla important para sobreescribir la imagen en sprite que se pinta en cada widget
        cuando se realize el refactor definitivo del ccs se debe eliminar el backgraund por defecto de 
        cada widget y eliminar el important
        */
}
body.sfPageEditor .fxs_wrapper {
  padding-top: 0!important;
}
body.sfPageEditor .fxs_contentView {
  margin-top: 100px;
}
body.sfPageEditor .modal-header h3.modal-title {
  font-size: 22px;
  font-weight: 300;
  color: #999;
}
body.sfPageEditor .fxs_SFeditor_textarea label {
  vertical-align: top;
}
body.sfPageEditor .fxs_SFeditor_textarea textarea {
  height: auto;
}
body.sfPageEditor .fxs_SFeditor_label input {
  width: 72%;
}
body.sfPageEditor .fxs_content {
  padding-top: 0px;
}
body.sfPageEditor .fxs_divider_editor {
  width: 100%;
  background-color: #ccc;
}
body.sfPageEditor .fxs_topic_title {
  font-size: 18px;
}
body.sfPageEditor .fxs_content_wide .fxs_content_subnav {
  width: 100%;
}
body.sfPageEditor .fxs_content_subnav {
  height: 70px;
  left: 10px;
  top: 0;
  position: inherit;
  width: 100%;
}
body.sfPageEditor input.fxs_ad_num_field {
  border: 1px solid #ccc;
  height: 30px;
  width: 100px;
}
body.sfPageEditor label {
  min-width: 100px;
}
body.sfPageEditor input.fxs_count_items {
  width: 30px;
  padding: 5px;
}
body.sfPageEditor .fxs_info_fields {
  font-size: 12px;
  color: #666;
  padding-left: 5px;
}
body.sfPageEditor .fxs_global_alert {
  display: none;
}
body.sfPageEditor.fxs_modal_page .fxs_modal_wrap {
  display: block;
  top: 120px;
}
body.sfPageEditor.fxs_modal_page .fxs_modal_wrap.fade {
  opacity: 1;
}
body.sfPageEditor.fxs_modal_page .fxs_modal_wrap .fxs_modal_close {
  display: none;
}
body.sfPageEditor.fxs_modal_page .sfPageContainer {
  overflow: hidden!important;
}
body.sfPageEditor .ZoneEditorToolboxContainer {
  z-index: 9999;
}
body.sfPageEditor .sfPageContainer {
  width: auto!important;
}
body.sfPageEditor .k-window .k-window-titlebar {
  margin-top: -16px !important;
  cursor: move;
}
body.sfPageEditor .k-window-actions {
  top: 39px!important;
}
body.sfPageEditor .k-window-actions .k-window-action.k-state-hover {
  background-color: transparent;
}
body.sfPageEditor .k-window-content {
  padding: 20px;
}
body.sfPageEditor .k-window-content button {
  margin-top: 20px;
  height: 30px;
}
body.sfPageEditor .k-window-content select {
  height: 32px;
  padding: 0;
}
body.sfPageEditor .modal-body .k-editor-widget .k-editor-toolbar > li:last-child,
body.sfPageEditor .modal-body .k-editor-widget .k-editor-toolbar > li:nth-last-child(2) {
  position: relative;
  right: auto;
  top: auto;
}
body.sfPageEditor .custom-tool .glyphicon {
  padding-top: 0!important;
}
body.sfPageEditor .modal-body .k-editor-widget .k-editor-toolbar {
  padding: 0 30px 10px 30px;
}
body.sfPageEditor .k-window {
  border: 1px;
}
body.sfPageEditor .k-window .field-group img {
  padding: 10px 0 10px 0;
}
body.sfPageEditor .k-window .field-group button {
  margin-top: 10px;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
}
body.sfPageEditor .k-window .field-group button:hover {
  background-color: #ccc;
}
body.sfPageEditor .k-window .field-group input {
  padding: 2px;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #a9a9a9;
}
body.sfPageEditor .k-window .field-group select {
  width: 100%;
}
body.sfPageEditor .k-window .field-group .k-state-hover:hover {
  background-color: transparent;
}
body.sfPageEditor .k-window .k-header {
  background-color: #999999;
}
body.sfPageEditor .k-window .dropdown-menu {
  overflow-y: scroll;
  height: 300px;
  margin-top: 5px;
}
body.sfPageEditor .k-window .dropdown-menu li a {
  color: #8C8D91;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
}
body.sfPageEditor .k-window .dropdown-menu li a strong {
  color: #e4871b;
}
body.sfPageEditor .k-window .dropdown-menu li a:hover {
  color: #49494F;
  text-decoration: none;
}
body.sfPageEditor .field-group {
  padding-bottom: 10px;
}
body.sfPageEditor .fxs_wrapper {
  overflow: visible;
  height: auto;
}
body.sfPageEditor .fxs_listView {
  top: 140px;
}
body.sfPageEditor .fxs_footer {
  display: none;
}
body.sfPageEditor .fxs_widget_thumb {
  padding: 10px 0 0 59px;
  height: 29px;
  width: auto;
  text-indent: 0;
  border-top-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-top-color: #f1f1f1;
  border-left-style: solid;
  border-left-color: #f1f1f1;
  color: #333;
}
body.sfPageEditor .fxs_widget_thumb.fxs_add_thumb {
  background: url('../img/widget-thumbnails/ad.jpg') no-repeat 3px 0 !important;
}
body.sfPageEditor .fxs_widget_thumb.fxs_dynamicAlert_thumb {
  background: url('../img/widget-thumbnails/alertdinamic.jpg') no-repeat 3px 0 !important;
}
body.sfPageEditor .fxs_widget_thumb.fxs_staticAlert_thumb {
  background: url('../img/widget-thumbnails/alert.jpg') no-repeat 3px 0px !important;
}
body.sfPageEditor .fxs_widget_thumb.fxs_subscribeNewsletter_thumb {
  background: url('../img/widget-thumbnails/newsletter.jpg') no-repeat 3px 0 !important;
}
body.sfPageEditor .fxs_widget_thumb.fxs_subsectionTitle_thumb {
  background: url('../img/widget-thumbnails/newsletter.jpg') no-repeat 3px 0 !important;
}
body.sfPageEditor .fxs_widget_thumb.fxs_textOverCI_thumb {
  background: url('../img/widget-thumbnails/textover.jpg') no-repeat 3px 0 !important;
}
body.sfPageEditor .fxs_widget_thumb.fxs_single_ctp_thumb {
  background: url('../img/widget-thumbnails/CTPsingle.jpg') no-repeat 3px 0 !important;
}
body.sfPageEditor .fxs_widget_thumb.fxs_multi_ctp_thumb {
  background: url('../img/widget-thumbnails/CTPmulti.jpg') no-repeat 3px 0 !important;
}
body.sfPageEditor .fxs_widget_thumb.fxs_ctp_contributors_thumb {
  background: url('../img/widget-thumbnails/CTPcon.jpg') no-repeat 3px 0 !important;
}
body.sfPageEditor .fxs_widget_thumb.fxs_forecast_single_thumb {
  background: url('../img/widget-thumbnails/forecastsingle.jpg') no-repeat 3px 0 !important;
}
body.sfPageEditor .fxs_widget_thumb.fxs_forecast_multi_thumb {
  background: url('../img/widget-thumbnails/forecastmulti.jpg') no-repeat 3px 0 !important;
}
body.sfPageEditor .fxs_widget_thumb.fxs_forecast_contributors_thumb {
  background: url('../img/widget-thumbnails/forecastcon.jpg') no-repeat 3px 0 !important;
}
body.sfPageEditor .fxs_widget_thumb.fxs_priceStats_thumb {
  background: url('../img/widget-thumbnails/pricestats.jpg') no-repeat 3px 0 !important;
}
body.sfPageEditor .fxs_widget_thumb.fxs_newsList_thumb {
  background: url('../img/widget-thumbnails/newsletter.jpg') no-repeat 3px 0 !important;
}
body.sfPageEditor .fxs_widget_thumb.fxs_postList_thumb {
  background: url('../img/widget-thumbnails/postlist.jpg') no-repeat 3px 0 !important;
}
body.sfPageEditor .fxs_widget_thumb.fxs_topics_thumb {
  background: url('../img/widget-thumbnails/topics.jpg') no-repeat 3px 0 !important;
}
body.sfPageEditor .fxs_widget_thumb.fxs_headers_thumb {
  background: url('../img/widget-thumbnails/header.jpg') no-repeat 3px 0 !important;
}
body.sfPageEditor .fxs_widget_thumb.fxs_analysisList_thumb {
  background: url('../img/widget-thumbnails/analysis_list.jpg') no-repeat 3px 0 !important;
}
body.sfPageEditor .fxs_widget_thumb.fxs_educationList_thumb {
  background: url('../img/widget-thumbnails/education_List.jpg') no-repeat 3px 0 !important;
}
body.sfPageEditor .fxs_widget_thumb.fxs_calendar_thumb {
  background: url('../img/widget-thumbnails/calendar.jpg') no-repeat 3px 0 !important;
}
body.sfPageEditor .fxs_widget_thumb.fxs_spreads_thumb {
  background: url('../img/widget-thumbnails/brokers-spreads.jpg') no-repeat 3px 0 !important;
}
body.sfPageEditor .fxs_widget_thumb.fxs_contentBlock_thumb {
  background: url('../img/widget-thumbnails/content-block.jpg') no-repeat 3px 0 !important;
}
body.sfPageEditor .fxs_widget_thumb.col_100 {
  background: url('../img/fxsGrid/100.jpg') no-repeat 3px 0 !important;
  border: 1px solid #cccccc;
}
body.sfPageEditor .fxs_widget_thumb.col_2_50 {
  background: url('../img/fxsGrid/2_50.jpg') no-repeat 3px 0 !important;
}
body.sfPageEditor .fxs_widget_thumb.col_2_75_25 {
  background: url('../img/fxsGrid/2_75_25.jpg') no-repeat 3px 0 !important;
}
body.sfPageEditor .fxs_widget_thumb.col_2_25_75 {
  background: url('../img/fxsGrid/2_25_75.jpg') no-repeat 3px 0 !important;
}
body.sfPageEditor .fxs_widget_thumb.col_2_67_33 {
  background: url('../img/fxsGrid/2_67_33.jpg') no-repeat 3px 0 !important;
}
body.sfPageEditor .fxs_widget_thumb.col_2_33_67 {
  background: url('../img/fxsGrid/2_33_67.jpg') no-repeat 3px 0 !important;
}
body.sfPageEditor .fxs_widget_thumb.col_3_33 {
  background: url('../img/fxsGrid/3_33.jpg') no-repeat 3px 0 !important;
}
body.sfPageEditor .fxs_widget_thumb.col_4_25 {
  background: url('../img/fxsGrid/4_25.jpg') no-repeat 3px 0 !important;
}
body.sfPageEditor .fxs_widget_thumb.flex_right {
  background: url('../img/fxsGrid/flex_r.jpg') no-repeat 3px 0 !important;
}
body.sfPageEditor .fxs_widget_thumb.flex_left {
  background: url('../img/fxsGrid/flex_l.jpg') no-repeat 3px 0 !important;
}
body.sfPageEditor .fxs_widget_thumb.sticky_right {
  background: url('../img/fxsGrid/flex_r_sticky.jpg') no-repeat 3px 0 !important;
}
body.sfPageEditor .fxs_widget_thumb.sticky_left {
  background: url('../img/fxsGrid/flex_l_sticky.jpg') no-repeat 3px 0 !important;
}
body.sfPageEditor .fxs_icon_editor {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  overflow: hidden;
  background-repeat: no-repeat;
  font-size: 0;
  line-height: 0;
  text-align: center;
  display: inline-block;
}
body.sfPageEditor .fxs_icon_editor.fxs_icon_editor_ad {
  opacity: .5;
  background-image: url('../img/editor-thumbnails/adcontent.jpg');
}
body.sfPageEditor .fxs_icon_editor.fxs_icon_editor_post {
  opacity: .5;
  background-image: url('../img/editor-thumbnails/postlist.jpg');
}
body.sfPageEditor .fxs_icon_editor.fxs_icon_editor_cdn {
  opacity: .5;
  background-image: url('../img/editor-thumbnails/cdn.jpg');
}
body.sfPageEditor .fxs_icon_editor.fxs_icon_editor_quote {
  opacity: .5;
  background-image: url('../img/editor-thumbnails/blockquote.png');
}
body.sfPageEditor .fxs_icon_editor.fxs_icon_editor_analisys {
  opacity: .5;
  background-image: url('../img/editor-thumbnails/highlighted_analysis.png');
}
body.sfPageEditor .fxs_icon_editor.fxs_icon_editor_news {
  opacity: .5;
  background-image: url('../img/editor-thumbnails/highlighted_news.png');
}
body.sfPageEditor .fxs_icon_editor.fxs_icon_editor_divider {
  opacity: .5;
  background-image: url('../img/editor-thumbnails/divider.png');
}
body .fxs_sitefinity_dashboard_msg {
  position: absolute;
  z-index: 9999;
  padding-top: 25px;
  font-size: 18px;
  padding-left: 50px;
}
