html { font-family: 'Roboto', sans-serif; }
.header, .header-bar, .header-avatar,
.header-channel, .header-status, .nav,
.twitter-button-icon, .join-button--twitter {
    display: none;
}

/*Join form:*/
.join {
    border-radius: 0;
    border-width: 1px 0 0;
}

}

@media max-width 300px {
    .join-form {
        display: block;
        width: 100%;
    }

    .join-or {
        visibility: hidden;
        display: block;
        margin: .5em 0;
    }
}

@media max-width 440px {
    .join-hl {
        margin-bottom: 10px;
        display: block;
    }
}

@media min-width 441px {
    .join-hl {
        margin-right: 10px;
    }
}

.join {
    color: #aaa;
    text-align: center;
    border-radius: 0;
    border: 1px solid #e6e6e6;
    background-color: rgba(0,0,0,0.03);
    padding: 20px 10px;
}

.join-form {
    position: relative;
    display: inline-block;
}

.join-hl {
    color: #555;
}

.join-or {
    visibility: hidden;
}

.join-hint {
    visibility: hidden;
    font-size: 1px;
    color: #999;
    margin-bottom: 0;
}

#chat.chat {
    padding-top: 10px;
}