/*************** Variables ***************/
/*Responsive Layout Breaks*/
/*************** Styles ***************/
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #E5E9EC;
  background-image: url('../images/paper_texture.png');
  background-repeat: repeat;
  font-size: 12px;
  color: #333333;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}
@media (min-width: 768px) {
  body {
    font-size: 14px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  color: #7F7F7F;
}
ul,
ol {
  list-style-type: none;
  padding: 0px;
  padding-left: 16px;
}
pre {
  background: none;
  border: none;
}
strong {
  font-weight: 800;
  color: #333;
}
.fxs_custom_panel .panel-body {
  padding-bottom: 0px;
}
.profile-pic {
  width: 65px;
  height: 65px;
  border-radius: 100px 100px 100px 100px;
  display: inline-block;
  overflow: hidden;
  border: 1px solid #0aa699;
  z-index: 1000;
}
.profile-pic img {
  width: 64px;
  height: auto;
  opacity: 0.8;
}
.navBtn {
  float: left;
  font-size: 30px;
  margin: 16px;
  cursor: pointer;
  opacity: 0.9;
}
.navBtn:hover {
  opacity: 1.0;
}
.logo {
  height: 62px;
  margin: -10px -10px 0;
  background-color: #22262E;
  background-image: url('https://fxstreet.s3.amazonaws.com/imglogos/small-roadblock.png');
  background-repeat: no-repeat;
  background-position: 10px;
}
.fxs_translation_btn {
  cursor: pointer;
}
.fxs_translation_btn:hover {
  opacity: 0;
}
.fxs_author_trans_title span {
  font-weight: 300;
  font-size: 18px;
  color: #999;
}
.fxs_custom_panel .panel-body {
  padding-bottom: 0px;
}
.menu {
  padding: 10px;
  margin: 0px auto 0px;
  background-color: #1B1E24;
  width: 260px;
  position: fixed;
  top: 0px;
  bottom: 0;
  z-index: 1000;
}
@media (min-width: 1200px) {
  .menu .nav > li {
    float: none;
  }
}
.menu .nav > li {
  margin: 0px -10px;
}
.menu .nav > li > ul > li {
  margin: 0px;
}
.menu .nav > li > a,
.menu .nav > li > ul > li > a {
  color: #8B91A0;
}
.menu .nav > li > a i,
.menu .nav > li > ul > li > a i {
  margin-right: 10px;
}
.menu .nav > li > a:hover,
.menu .nav > li > a:focus,
.menu .nav > li > ul > li > a:hover,
.menu .nav > li > ul > li > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #1a1c20;
}
.menu .nav > li.active > a,
.menu .nav > li > ul > li.active > a {
  text-decoration: none;
  color: #1B1E24;
  background-color: #ee970c;
}
.menu .nav > li.active > a:active,
.menu .nav > li.active > a:focus,
.menu .nav > li > ul > li.active > a:active,
.menu .nav > li > ul > li.active > a:focus {
  text-decoration: none;
  color: #1B1E24;
  background-color: #ee970c;
}
.cbp-spmenu-left {
  left: -260px;
}
.cbp-spmenu-left.cbp-spmenu-open {
  left: 0px;
}
.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px;
}
.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}
.cbp-spmenu-push-toright {
  left: 260px;
}
.menu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/*Alerts*/
.alert-None {
  display: none !important;
}
/*Buttons*/
.btn-sm {
  font-size: 13px;
}
@media (min-width: 768px) {
  .btn .fa {
    display: inline-block;
    margin-right: 8px;
  }
}
.btn .iblock {
  display: inline-block;
}
.fa-power-off,
.fa-trash-o {
  color: #d9534f;
}
.space-right {
  margin-right: 10px;
}
/*Filter*/
.highlight {
  padding: 45px 14px 9px;
  margin-bottom: 14px;
  /*background-color: #D9D9D9;
    border: 1px solid #E1E1E8;*/
  background-color: #F7F7F9;
  border: 1px solid #E1E1E8;
  border-radius: 4px;
  position: relative;
  /*hr {
        border-top: 1px solid #C4C4C4;
    }*/
}
.highlight:after {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: 700;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1px;
  content: "Filter";
}
.form-inline .form-group,
.form-inline button {
  margin-right: 20px;
  margin-bottom: 10px;
}
.form-inline .form-group label,
.form-inline button label {
  margin-right: 8px;
}
.form-inline .date .form-group,
.form-inline .date button {
  margin-right: 0px;
  margin-bottom: 0px;
}
.form-inline .date .form-group label,
.form-inline .date button label {
  margin-right: 0px;
}
.collapsed .fa:before {
  content: "\f078";
}
.btnFilter .fa {
  display: inline-block !important;
}
/*Tables*/
.table > tbody > tr > td {
  vertical-align: middle;
  cursor: default;
}
.table > tbody > tr > td p {
  margin: 0px;
}
.table > tbody > tr > td .btn {
  margin-top: 0px;
}
.table > thead > tr > th a {
  color: #333;
}
.table-hover > tbody > tr:hover > td {
  background-color: rgba(91, 192, 222, 0.2);
}
.table > tbody > tr.checkedED > td {
  background-color: rgba(184, 235, 119, 0.52);
}
/*Detail pages*/
.boxDetail {
  padding: 14px 14px 9px;
  margin-bottom: 14px;
  background-color: #F7F7F9;
  border: 1px solid #E1E1E8;
  border-radius: 4px;
  position: relative;
}
/*Tags*/
.tag {
  display: inline-block;
  height: 34px;
  padding: 5px 10px;
  margin-bottom: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.tag-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.tag-info hr {
  border-top-color: #a6e1ec;
}
.tag-info .tag-link {
  color: #245269;
}
.tag-dismissable .close,
.tag-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
/* Badges */
.badge-important {
  background-color: #f35959;
}
/*Country Items*/
.countryItem {
  float: left;
  height: 34px;
  padding: 5px 10px;
  margin: 2px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.countryItem-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.countryItem-info hr {
  border-top-color: #a6e1ec;
}
.countryItem-info .tag-link {
  color: #245269;
}
.countryItem-dismissable .close,
.countryItem-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
/*Modals*/
.modal-dialog {
  margin: 70px auto;
}
.resultsUl {
  max-height: 150px;
  overflow: auto;
}
.resultsUl li {
  position: relative;
}
.eventSelected {
  color: #094274 !important;
}
.eventSelected:before {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  position: absolute;
  left: -16px;
  top: 3px;
}
/*working form*/
.wFormTh {
  padding: 8px 0px 8px 20px !important;
}
.workingForm td.info {
  min-width: 150px;
}
.workingForm input {
  background-color: transparent;
  box-shadow: none;
  padding-right: 38px;
  position: relative;
  z-index: 100;
}
.workingForm input:hover {
  cursor: default !important;
  border-radius: 0px 4px 4px 0px !important;
}
.workingForm .input-group:hover input {
  border: 1px solid #B1B1B1 !important;
}
.workingForm .input-group:hover:before {
  width: 34px;
  height: 34px;
  padding: 8px 11px;
  background-color: #EEE;
  border: 1px solid #CCC;
  border-radius: 0px 4px 4px 0px;
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f040";
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 10;
}
.workingForm .input-group:hover:before .form-control-feedback {
  display: none;
}
.workingForm .form-control:focus {
  border: 1px solid #66AFE9 !important;
  background-color: #ffffff;
}
.workingForm .form-control:focus:hover {
  border: 1px solid #66AFE9 !important;
}
.workingForm input[readonly="readonly"] {
  background-color: transparent !important;
  border: 0px solid transparent !important;
  box-shadow: none !important;
  outline: none !important;
}
.workingForm input[readonly="readonly"]:hover {
  background-color: transparent !important;
  border: 0px solid transparent !important;
  box-shadow: none !important;
  outline: none !important;
}
.workingForm input[readonly="readonly"]:focus,
.workingForm input[readonly="readonly"]:active {
  background-color: transparent !important;
  border: 0px solid transparent !important;
  box-shadow: none !important;
  outline: none !important;
}
.workingForm .updatedOK:before {
  width: 34px;
  height: 34px;
  padding: 8px 11px;
  border: 1px solid transparent;
  background-color: transparent;
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  color: #98D416;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1000;
}
.workingForm .updatedOK:hover:before {
  width: 34px;
  height: 34px;
  padding: 8px 11px;
  border: 1px solid transparent;
  background-color: transparent;
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  color: #98D416;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1000;
}
.workingForm .updatedKO:before {
  width: 34px;
  height: 34px;
  padding: 8px 11px;
  border: 1px solid transparent;
  background-color: transparent;
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00d";
  color: #E44509;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1000;
}
.workingForm .updatedKO:hover:before {
  width: 34px;
  height: 34px;
  padding: 8px 11px;
  border: 1px solid transparent;
  background-color: transparent;
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00d";
  color: #E44509;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1000;
}
.workingForm .noIcon:before {
  display: none;
}
.workingForm .noIcon:hover:before {
  display: none;
}
.workingForm .actual {
  background-color: #ffffff;
  box-shadow: inherit;
  padding-right: inherit;
  padding-left: 0px;
  cursor: text !important;
}
.workingForm .actualGroup input.form-control {
  border: 1px solid #ccc !important;
  border-left: 0px solid #ffffff !important;
}
.workingForm .actualGroup input.form-control:focus:hover,
.workingForm .actualGroup input.form-control:focus,
.workingForm .actualGroup input:focus,
.workingForm .actualGroup input:active {
  border: 1px solid #ccc !important;
  border-left: 1px solid #ffffff !important;
}
.workingForm #check {
  position: relative;
  text-align: center;
}
.workingForm #check.updatedOK:hover:before,
.workingForm #check.updatedOK:before,
.workingForm #check.updatedKO:hover:before,
.workingForm #check.updatedKO:before {
  top: -6px;
}
.nameInput {
  position: relative;
}
.nameInput input {
  padding-right: 25px;
}
.nameInput:after {
  content: '...';
  position: absolute;
  right: 15px;
  top: 15px;
}
.groupedIcon input {
  border: 1px solid #ccc !important;
  border-left: 0px solid #ffffff !important;
}
.groupedIcon input.form-control:focus:hover,
.groupedIcon input.form-control:focus,
.groupedIcon input:focus,
.groupedIcon input:active {
  border: 1px solid #ccc !important;
  border-left: 1px solid #ffffff !important;
}
.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 37px !important;
  overflow: hidden;
  border-radius: 4px;
}
/* Header */
.header {
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 62px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px -5px #000000;
  box-shadow: 0 0 10px -5px #000000;
}
.header h3 {
  margin-top: 18px;
  font-style: italic;
  display: none;
}
@media (min-width: 768px) {
  .header h3 {
    display: inline;
  }
}
.header h3 strong {
  font-weight: bold;
  color: #333;
}
.header a {
  text-decoration: none;
}
.header .user-toggler {
  position: relative;
  height: 40px;
  top: 14px;
  margin-right: 5px;
  display: inline-block;
  float: left;
  min-width: 163px;
  cursor: pointer;
}
.header .user-toggler .user-details {
  display: inline-block;
  float: left;
  line-height: 35px;
}
.header .user-toggler .user-details .username {
  font-weight: lighter;
}
.header .user-toggler .user-details .username a {
  color: #1b1e24;
  font-size: 15px;
}
.header .user-toggler .profile-pic {
  width: 36px;
  height: 36px;
}
.header .user-toggler .profile-pic img {
  width: 35px;
  height: auto;
}
.header .user-toggler a {
  color: #1b1e24;
  font-size: 15px;
}
.header .user-toggler .dropdown-menu {
  top: 48px;
  /*li {
                font-size: 13px;
                padding: 5px 15px;
            }
            li:hover {
                font-size: 13px;
                padding: 5px 15px;
            }*/
}
/* Login */
.login {
  max-width: 700px;
  margin: auto;
}
.logo_welcome {
  text-align: center;
  float: left;
  margin-top: 20%;
}
.logo_welcome img {
  padding: 70px 20px;
  background-color: #fff;
}
.heading_welcome {
  float: left;
  margin-top: 20%;
  padding: 40px 60px;
  -webkit-box-shadow: 20px 0 15px -20px rgba(0, 0, 0, 0.14);
  box-shadow: 20px 0 15px -20px rgba(0, 0, 0, 0.14);
}
.heading_welcome h1 {
  font-size: 32px;
  color: #333333;
  margin-top: 0px;
}
.heading_welcome p {
  color: #7F7F7F;
}
/* Account */
.header_account {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 80px;
  margin-top: 2%;
  background-color: #ffffff;
  background-image: url('http://cdn.fxstreet.com/img/logos/_new/about/previews/logo_notagline_white.png');
  background-repeat: no-repeat;
  background-position: left center;
}
.roles {
  padding: 8px 10px;
  background-color: rgba(0, 0, 0, 0.05);
  margin-bottom: 5px;
}
/* Conditions */
.conditions {
  position: relative;
  z-index: 10;
  padding: 40px 26px 0px;
  -webkit-box-shadow: 0px -10px 25px -3px rgba(0, 0, 0, 0.14);
  box-shadow: 0px -10px 25px -3px rgba(0, 0, 0, 0.14);
}
.message {
  margin: 20px -26px 0px;
}
.space-display-msg {
  padding-top: 70px;
}
.message.alert {
  font-size: 14px;
  padding: 26px;
}
/* Register */
.register {
  position: relative;
  z-index: 10;
  padding: 40px 26px 0px;
  -webkit-box-shadow: 0px -10px 25px -3px rgba(0, 0, 0, 0.14);
  box-shadow: 0px -10px 25px -3px rgba(0, 0, 0, 0.14);
}
.register label {
  font-size: 14px;
}
/* Dashboard */
.square {
  height: 150px;
  margin-bottom: 10px;
}
.square a {
  display: block;
  width: 100%;
  min-height: 150px;
  background-color: #dedede;
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  padding: 95px 0px 0px 20px;
  cursor: pointer;
}
.square a .fa {
  font-size: 130px;
  position: absolute;
  top: 10px;
  right: 5%;
  opacity: 0.1;
}
.square a .fa.fa-angle-double-right:hover {
  color: #fff;
}
.square .disabled a,
.square .disabled a:hover {
  opacity: 0.3;
}
.square .accessForecasts {
  background-color: #3c998a;
}
.square .accessAnalysis {
  background-color: #3c998a;
}
.square .accessCalendar {
  background-color: #3c998a;
}
.square .accessClients {
  background-color: #3c998a;
}
.square .accessNews {
  background-color: #3c998a;
}
.square .accessUsers {
  background-color: #3c998a;
}
.square .accessEducation {
  background-color: #3c998a;
}
.square .accessSite {
  background-color: #3c998a;
}
.square .accessTranslations {
  background-color: #3c998a;
}
.square .accessFileUpload {
  background-color: #3c998a;
}
.square .accessTags {
  background-color: #3c998a;
}
.square .accessUploadFiles {
  background-color: #3c998a;
}
.square .accessContributors {
  background-color: #3c998a;
}
.square .accessCTPSignals {
  background-color: #3c998a;
}
.square .accessVideos {
  background-color: #3c998a;
}
.square .accessLocalization {
  background-color: #3c998a;
}
.flip-container {
  perspective: 1000;
}
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}
.disabled.flip-container:hover .flipper,
.disabled.flip-container.hover .flipper {
  transform: none;
}
.flip-container,
.front,
.back {
  width: 100%;
  height: 100%;
}
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
}
.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}
.front a {
  font-weight: 300;
}
.front .accessCalendar .fa:before {
  content: "\f133";
}
.front .accessEducation .fa:before {
  content: "\f19d";
}
.front .accessAnalysis .fa:before {
  content: "\f06e";
}
.front .accessClients .fa:before {
  content: "\f087";
}
.front .accessNews .fa:before {
  content: "\f09e";
}
.front .accessUsers .fa:before {
  content: "\f0c0";
}
.front .accessSite .fa:before {
  content: "\f135";
}
.front .accessTranslations .fa:before {
  content: "\f024";
}
.front .accessFileUpload .fa:before {
  content: "\f093";
}
.front .accessTags .fa:before {
  content: "\f02c";
}
.front .accessUploadFiles .fa:before {
  content: "\f0ee";
}
.front .accessContributors .fa:before {
  content: "\f007";
}
.front .accessCTPSignals .fa:before {
  content: "\f080";
}
.front .accessForecasts .fa:before {
  content: "\f07d";
}
.front .accessVideos .fa:before {
  content: "\f1c8";
}
.front .accessLocalization .fa:before {
  content: "\f0ac";
}
.back {
  transform: rotateY(180deg);
  /*
    .accessCalendar {
        background-color: @blue;
    }
    .accessNews {
        background-color: #ee970c;
    }
    .accessSite {
        background-color: #0F3A5A;
    }
    .accessTranslations {
        background-color: #333333;
    }
    .accessFileUpload {
        background-color: #ff2f00;
    }
        */
}
.back a {
  font-size: 16px;
  padding: 30px;
}
.back a .fa {
  font-size: 180px;
  position: absolute;
  top: -16px;
  right: 10%;
  opacity: 0.1;
  left: auto;
  cursor: pointer;
}
.back a:hover .fa {
  opacity: 0.9;
}
.view-container {
  padding: 0 10px;
}
@media (min-width: 1200px) {
  .view-container {
    min-height: 100%;
    padding: 0 30px 30px;
  }
}
.view-container h2 {
  font-style: italic;
}
.content {
  background-color: #fff;
  padding: 20px 20px 60px;
  -webkit-box-shadow: 0 0 10px -5px #000000;
  box-shadow: 0 0 10px -5px #000000;
  min-height: 650px;
  overflow: hidden;
}
/* user dashboard */
.fxs-back-user-filter {
  padding-left: 5px;
  background-image: none!important;
  border: none;
}
.fxs-back-invitation-input {
  min-width: 100px;
}
.fxs-back-tag-btn {
  margin-bottom: 10px;
  margin-left: 5px!important;
}
.fxs-back-tag-btn .fa-times {
  margin-right: 0;
  color: red;
}
/*Tarnslations Dashboard*/
.transRow {
  position: relative;
  width: 100%;
  min-width: 445px;
  overflow: hidden;
  border-left: 6px solid #8bc021;
  background-color: #eee;
  margin-bottom: 15px;
  white-space: nowrap;
}
.transRow h3 {
  width: 265px;
  margin: 0px;
  float: left;
  background-color: #eee;
  color: #333;
  font-style: italic;
  font-weight: bold;
  padding: 16px 0px 18px 10px;
  position: relative;
  z-index: 1000;
  border-right: 1px solid #C9C9C9;
}
.transRow h3 .fa {
  width: 40px;
  text-align: center;
  font-size: 20px;
}
.general-back-pagination {
  margin-top: 20px;
}
.dashboard-results {
  /* new language abbr

    ru-RU ok
    ca-ES ok
    es-ES ok
    ar-AE ok
    zh-CN ok
    id-ID ok
    tr-TR ok
    hu-HU ok
    fr-FR ok
    de-DE ok
    pt-PT ok
    it-IT ok
    ja-JP ok
    ko-KR ok
    zh-CHT ok
    pl-PL ok
    vi-VN ok
    en-US ok

    */
}
.dashboard-results .translang-item {
  margin-left: 20px;
  margin-left: 10px;
  margin-bottom: 5px;
  padding: 10px;
  min-width: 65px;
  background-color: #fff;
  float: left;
}
.dashboard-results .translang-item:hover {
  text-decoration: none;
}
.dashboard-results .translang-item .tags-flag-label {
  font-size: 18px;
}
.dashboard-results .tags-flag-custom {
  display: inline-block;
  width: 16px;
  height: 13px;
  background-image: url('../images/sprite-flags.png');
  background-repeat: no-repeat;
  margin-left: 5px;
  border: 1px solid #ccc;
}
.dashboard-results .i-ar {
  background-position: 0 0;
}
.dashboard-results .i-br {
  background-position: -84px 0;
}
.dashboard-results .i-ca {
  background-position: -112px 0;
}
.dashboard-results .i-zh {
  background-position: -154px 0;
}
.dashboard-results .i-ch {
  background-position: -126px 0;
}
.dashboard-results .i-de {
  background-position: -196px 0;
}
.dashboard-results .i-es {
  background-position: -280px 0;
}
.dashboard-results .i-fr {
  background-position: -308px 0;
}
.dashboard-results .i-chi {
  background-position: -336px 0;
}
.dashboard-results .i-hu {
  background-position: -350px 0;
}
.dashboard-results .i-id {
  background-position: -364px 0;
}
.dashboard-results .i-it {
  background-position: -448px 0;
}
.dashboard-results .i-ja {
  background-position: -462px 0;
}
.dashboard-results .i-ko {
  background-position: -476px 0;
}
.dashboard-results .i-pl {
  background-position: -84px -11px;
}
.dashboard-results .i-pt {
  background-position: -98px -11px;
}
.dashboard-results .i-ru {
  background-position: -126px -11px;
}
.dashboard-results .i-tr {
  background-position: -210px -11px;
}
.dashboard-results .i-vi {
  background-position: -294px -11px;
}
.dashboard-results .i-en {
  background-position: -322px -11px;
}
.dashboard-results .i-ar-AE {
  background-position: -14px 0;
}
.dashboard-results .i-ca-ES {
  background-position: -112px 0;
}
.dashboard-results .i-zh-CN {
  background-position: -154px 0;
}
.dashboard-results .i-zh-CHT {
  background-position: -336px 0;
}
.dashboard-results .i-de-DE {
  background-position: -196px 0;
}
.dashboard-results .i-es-ES {
  background-position: -280px 0;
}
.dashboard-results .i-fr-FR {
  background-position: -308px 0;
}
.dashboard-results .i-hu-HU {
  background-position: -350px 0;
}
.dashboard-results .i-id-ID {
  background-position: -364px 0;
}
.dashboard-results .i-it-IT {
  background-position: -448px 0;
}
.dashboard-results .i-ja-JP {
  background-position: -462px 0;
}
.dashboard-results .i-ko-KR {
  background-position: -476px 0;
}
.dashboard-results .i-pl-PL {
  background-position: -84px -11px;
}
.dashboard-results .i-pt-PT {
  background-position: -98px -11px;
}
.dashboard-results .i-ru-RU {
  background-position: -126px -11px;
}
.dashboard-results .i-tr-TR {
  background-position: -210px -11px;
}
.dashboard-results .i-vi-VN {
  background-position: -294px -11px;
}
.dashboard-results .i-en-US {
  background-position: -322px -11px;
}
.transLang:hover {
  text-decoration: none;
  color: #0aa699;
}
.pendingLang {
  background-color: rgba(243, 89, 89, 0.1);
}
.transNav {
  width: 117px;
  height: 60px;
  position: relative;
  z-index: 1001;
  float: right;
  border-left: 1px solid #C9C9C9;
  background-color: #E5E5E5;
}
.transMore,
.transLess {
  height: 100%;
  cursor: pointer;
  padding: 0px 16px;
  background-color: #E5E5E5;
  color: #9B9B9B !important;
  border-left: 1px solid #C9C9C9;
  border-right: 1px solid #C9C9C9;
  display: none;
}
.transMore .fa,
.transLess .fa {
  font-size: 42px;
  opacity: 0.4;
  margin: 8px 0px;
}
.transMore .fa:hover,
.transLess .fa:hover {
  opacity: 0.7;
}
.transMore {
  float: right;
}
.transMore .fa {
  font-size: 42px;
  opacity: 0.4;
}
.transMore .fa:hover {
  opacity: 0.7;
}
.transLess {
  float: left;
}
.transLess .fa {
  font-size: 42px;
  opacity: 0.4;
}
.transLess .fa:hover {
  opacity: 0.7;
}
.transLess .fa:before {
  content: "\f100";
}
/* clients section */
.table > tbody > tr > td {
  word-break: break-all;
}
.fxs_localization_form .table > tbody > tr > td {
  word-break: normal;
}
.fxs_add_domain {
  position: relative;
}
.fxs_add_domain .btn.fxs_custom_label {
  cursor: default;
  background-color: #fff;
  font-weight: bold;
}
.fxs_client_subtitle {
  display: block;
  font-size: 18px;
}
/*Translations Detail*/
.dashboard-results {
  margin-bottom: 5px;
}
.dashboard-results h4,
.dashboard-results ul {
  display: inline-block;
}
.dashboard-results h4 {
  min-width: 10%;
}
.dashboard-results a {
  color: #333;
}
.form-horizontal {
  margin-bottom: 5px;
}
.form-horizontal .form-group {
  margin-bottom: 0;
}
.fxs-pRight {
  padding-right: 10px;
}
.fxs-mHeight {
  min-height: 150px;
}
.fxs-mBottom {
  margin-bottom: 10px;
}
.fxs-translation-name {
  background-color: #F7F7F9;
  border: 1px solid #E1E1E8;
  padding: 5px;
}
.fxs-translation-result {
  padding: 0 14px 9px;
}
.fxs-translation-result input[type="text"] {
  background-color: #fff;
}
.fxs-translation-result .panel {
  padding-bottom: 10px;
}
.fxs-mTop {
  margin-top: 10px;
  padding-top: 10px;
}
.bg-result,
.pending,
.translated {
  background-color: #F7F7F9;
  padding: 15px;
}
.pending {
  border-left: 3px solid #d9534f;
}
.translated {
  border-left: 3px solid #5cb85c;
}
.langDetail {
  padding: 20px 20px 5px;
  background-color: #F8F8F8;
  border: 1px solid #E4E4E4;
}
.langDetail .control-label {
  text-align: left;
  padding-right: 0px;
}
.langDetail .help-block {
  font-size: 13px;
  color: #AEAEAE;
}
.langDetail textarea {
  width: 100% !important;
}
.control-panel {
  background-color: #0A0A0A;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 14px 30px;
}
.control-panel h5 {
  color: #ffffff;
  font-weight: 400;
  padding-top: 10px;
}
.news-option {
  min-width: 200px;
}
.publishMsg {
  color: #f35959;
}
.imgNews {
  max-width: 200px;
}
.imgNews img {
  width: 100%;
}
.entry:not(:first-of-type) {
  margin-top: 10px;
}
.glyphicon {
  font-size: 12px;
}
.post-appoved {
  color: #5cb85c;
}
.post-pennding {
  color: #ec971f;
}
.post-typeahead .dropdown-menu {
  max-height: 300px;
  overflow-y: scroll;
}
.cke_maximized .cke_top {
  margin-top: 63px;
}
.post-tag-item {
  margin-top: 5px;
}
.post-small {
  font-size: 11px;
  color: #666;
}
.note-editor {
  border: none;
}
.cke_button__calendar_icon {
  background: url(../../scripts/ckeditor/plugins/widgets/icons/add_calendar.png) no-repeat !important;
}
.cke_button__chartimage_icon {
  background: url(../../scripts/ckeditor/plugins/widgets/icons/chartimage.png) no-repeat !important;
}
.cke_button__sentiment_cke_icon {
  background: url(../../scripts/ckeditor/plugins/widgets/icons/sentiment_cke.png) no-repeat !important;
}
.cke_button__ctp_icon {
  background: url(../../scripts/ckeditor/plugins/widgets/icons/ctp_cke.png) no-repeat !important;
}
.ctp-filter-form {
  max-width: 900px;
}
.fxs_mediaContainer,
.fxs_floatingMedia_imageContainer,
.fxs_avatar_circleImage,
.fxs_avatar_circleImage_m {
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
}
.fxs_mediaContainer::before,
.fxs_floatingMedia_imageContainer::before,
.fxs_avatar_circleImage::before,
.fxs_avatar_circleImage_m::before {
  display: block;
  content: " ";
  width: 100%;
  padding-top: 56.25%;
}
.fxs_mediaContainer:before,
.fxs_floatingMedia_imageContainer:before,
.fxs_avatar_circleImage:before,
.fxs_avatar_circleImage_m:before {
  display: block;
  content: " ";
  width: 100%;
  padding-top: 56.25%;
}
.fxs_mediaContainer img,
.fxs_floatingMedia_imageContainer img,
.fxs_avatar_circleImage img,
.fxs_avatar_circleImage_m img {
  min-width: 100%;
  min-height: 100%;
}
.fxs_article_mainMedia {
  margin: 0 -1rem 1rem;
}
@media (min-width: 320px) {
  .fxs_article_mainMedia {
    margin: 0 0 1rem;
  }
}
@media (min-width: 1024px) {
  .fxs_article_mainMedia {
    float: right;
    margin-left: 2rem;
    width: 66.66%;
  }
}
.ctp-edit-form .ctp-input-width {
  min-width: 400px;
}
.ctp-edit-form .checkbox {
  padding-right: 10px;
}
.ctp-edit-form .ctp-custom-validity,
.ctp-edit-form .checkbox {
  display: inline;
}
.ctp-edit-form .ctp-edit-btn {
  margin-right: 10px;
}
.ctp-edit-form .ctp-option-filter {
  width: 600px;
}
.ctp-edit-form .ctp-custom-fg .ctp-signal-text {
  height: 315px;
  overflow-y: scroll;
}
.ctp-edit-form .ctp-custom-fg .ctp-signal-text p {
  word-wrap: break-word;
}
.ctp-edit-form .ctp-custom-results {
  margin-bottom: 10px;
  display: block;
}
.ctp-edit-form .ctp-custom-results label {
  width: 30%;
}
.ctp-edit-form .ctp-button-align {
  float: right;
}
.ctp-edit-form .ctp-button-align button {
  display: inline-block;
  margin-top: 10px;
}
.ctp-edit-form .panel-default input {
  max-width: 200px;
}
@media (min-width: 1024px) {
  .ctp-edit-form .ctp-right-column {
    padding-top: 83px;
  }
}
.ctp-custom-pair select {
  margin: 10px 10px 10px 0;
  display: inline-block;
  width: auto;
}
.ctp-custom-pair .ctp-wrapper-entry {
  margin-top: 10px;
}
.ctp-custom-pair .ctp-wrapper-entry .form-control {
  display: inline-block;
  width: auto;
}
.ctp-custom-pair .dropdown,
.ctp-custom-pair .ctp-custom-entry {
  display: inline-block;
  margin-bottom: 0;
}
.ctp-custom-pair .dropdown button,
.ctp-custom-pair .ctp-custom-entry button {
  margin: 0;
}
.tree-node-rules {
  margin-bottom: 5px;
}
.angular-ui-tree-handle {
  cursor: inherit;
}
.btn-title {
  cursor: pointer;
  word-wrap: break-word;
}
.btn-title.btn-title-parent {
  font-weight: 700;
}
.btn-title.btn-title-child {
  font-weight: 300;
  color: #333333;
}
.treeview-panel {
  height: 400px;
  overflow-y: scroll;
}
.thumb-image {
  width: 100%;
}
.thumg-img-container {
  max-width: 50px;
  display: inline-block;
}
.tree-img {
  display: inline-block;
}
.tt-menu {
  border: 1px solid #ccc;
  background-color: #fff;
  margin-top: 5px;
  border-radius: 4px;
  width: 100%;
}
.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}
.tag-create-form,
.tag-filter-form {
  max-width: 700px;
}
.fxs_mediaContainer,
.fxs_floatingMedia_imageContainer,
.fxs_avatar_circleImage,
.fxs_avatar_circleImage_m {
  margin-bottom: 1rem;
  overflow: hidden;
  position: relative;
}
.fxs_mediaContainer::before,
.fxs_floatingMedia_imageContainer::before,
.fxs_avatar_circleImage::before,
.fxs_avatar_circleImage_m::before {
  display: block;
  content: " ";
  width: 100%;
  padding-top: 56.25%;
}
.fxs_mediaContainer:before,
.fxs_floatingMedia_imageContainer:before,
.fxs_avatar_circleImage:before,
.fxs_avatar_circleImage_m:before {
  display: block;
  content: " ";
  width: 100%;
  padding-top: 56.25%;
}
.fxs_mediaContainer img,
.fxs_floatingMedia_imageContainer img,
.fxs_avatar_circleImage img,
.fxs_avatar_circleImage_m img {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.fxs_floatingMedia_imageContainer,
.fxs_avatar_circleImage,
.fxs_avatar_circleImage_m {
  margin-right: 1rem;
  float: left;
}
.fxs_floatingMedia_textBody {
  overflow: hidden;
}
.fxs_avatar_circleImage,
.fxs_avatar_circleImage_m {
  border-radius: 50%;
}
.fxs_avatar_circleImage_m {
  width: 180px;
  height: 180px;
  vertical-align: middle;
  margin-bottom: 0;
}
form.authorForm .author-avatar label {
  width: 50px;
  position: relative;
  margin-bottom: none;
  cursor: pointer;
}
form.authorForm .author-avatar label .custom-file-input {
  height: 0;
}
form.authorForm .author-avatar label .custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
  width: 0;
}
form.authorForm .author-avatar label .custom-file-input::before {
  content: "\f030";
  font-family: FontAwesome;
  left: 0;
  bottom: 0;
  position: absolute;
  color: #f60;
  cursor: pointer;
}
form.authorForm textarea {
  width: 100%;
}
form.authorForm .fa,
form.authorForm .glyphicon {
  padding-right: 10px;
}
form.authorForm button {
  float: right;
}
fieldset.scheduler-border {
  border: 1px groove #F7F7F9 !important;
  display: block;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
}
legend.scheduler-border {
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: left !important;
  width: auto;
  padding: 0 10px;
  border-bottom: none;
}
/* Pagination */
dir-pagination-controls {
  margin-top: 4px;
}
.pagination {
  margin: 0px;
}
.pagination > li > a,
.pagination > li > span {
  color: #333;
  font-weight: 600;
}
.directionLinks a,
.boundaryLinks a {
  font-size: 18px;
}
/* Forms */
/*************** Helper Classes ***************/
.green {
  color: #8bc021;
}
.red {
  color: #f35959;
}
.yellow {
  color: #ee970c;
}
.redBorder {
  border: 1px solid #f35959;
}
.greenBorder {
  border: 1px solid #8bc021;
}
.center {
  margin-left: auto !important;
  margin-right: auto !important;
}
.w50 {
  width: 50%;
}
.w100 {
  width: 100% !important;
}
.iblock {
  display: inline-block;
}
.pad0 {
  padding-top: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
}
.pleft20 {
  padding-left: 20px;
}
.mar0 {
  margin-top: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
  margin-left: 0px !important;
}
.mtop10 {
  margin-top: 10px;
}
.mtop20 {
  margin-top: 20px;
}
.mright5 {
  margin-right: 5px;
}
.mright10 {
  margin-right: 10px;
}
.mright20 {
  margin-right: 20px;
}
.mbottom10 {
  margin-bottom: 10px;
}
.mbottom20 {
  margin-bottom: 20px;
}
.mbottom40 {
  margin-bottom: 40px;
}
.mleft5 {
  margin-left: 5px;
}
.mleft20 {
  margin-left: 20px;
}
.text-primary {
  color: #0aa699;
}
.bold,
.strong {
  font-weight: 800;
}
.resetItalic {
  font-style: normal;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.text-muted {
  margin: 20px 0;
}
.form-login {
  max-width: 330px;
  padding: 0px 15px 5px 15px;
  margin: 0 auto;
}
.form-login .form-login-heading {
  margin-bottom: 10px;
}
.form-login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login input[type="password"] {
  margin-top: 5px;
  margin-bottom: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
