// Section & subsection titles
.fxs_sectionTitle_header {
  .fxs_stiled_text_variants(inline-block; @dark_3_clr; @txt_defaultsize_rem);
}

.fxs_subsectionTitle {
	.fxs_stiled_text_variants(inline-block; @dark_4_clr; @txt_size_small);
	background-color: @light_3_clr;
	margin: 0 0 1rem -1rem;
	padding: 0 0.8rem;
}

.fxs_subtitle {
  .fxs_stiled_text_variants(inline-block; @dark_4_clr; @txt_size_xsmall);
  margin-bottom: 1rem;
  border-bottom: 3px solid @light_4_clr;
}

.fxs_helperLabel_title {
  .fxs_stiled_text_variants(inline-block; @dark_4_clr; @txt_size_small);
  margin-right: 0.5rem;
}

/////////////////////////////////////////////////
/////////////////// Objects ////////////////////
/////////////////////////////////////////////////

// Labels
.fxs_label, .fxs_alertLabel {
	.fxs_stiled_text_variants(inline-block; @dark_4_clr; @txt_size_xsmall);
  margin: 0 0.5rem 0 0;
  padding: 1px 0.4rem;
}

.fxs_label_featured  {
  .fxs_label_variants(@highlight_clr; @lightest_clr);
}

.fxs_label_error  {
  .fxs_label_variants(@error_clr; @lightest_clr);
}

.fxs_label_success  {
  .fxs_label_variants(@success_clr; @lightest_clr);
}

.fxs_label_warning  {
  .fxs_label_variants(@warning_clr; @dark_1_clr);
}

.fxs_label_info  {
  .fxs_alert_variants(@info_clr; @lightest_clr);
}

// Badge
.fxs_badge{
  border-radius:50%;
  min-width: 1rem;
  line-height: 1rem;
  background-color:@error_clr;
  color:@lightest_clr;
  text-align:center;
  font-size:@txt_size_nano;
  white-space: nowrap;
  vertical-align: middle;
  display: inline-block;
  margin-left: 0.5rem;
}

// ALERTS
.fxs_alert {
  &:extend(.fxs_wideContent_bordered all);
  .animation(grow-and-show 0.5s ease-in-out);
  padding: 0.5rem;
  line-height: @txt_lineheight_reset;
  font-size: @txt_size_small; 
  overflow: hidden;
  margin-bottom:2rem;
  .fxs_alertText { margin-bottom: 0; }
  a {
    text-decoration: underline;
    &:hover { text-decoration: none; }
  }
}

.fxs_alert_featured, .fxs_alert_live  {
  .fxs_alert_variants(@dark_2_clr; @lightest_clr);
}

.fxs_alert_error  {
  .fxs_alert_variants(@error_clr; @lightest_clr);
}

.fxs_alert_success  {
  .fxs_alert_variants(@success_clr; @lightest_clr);
}

.fxs_alert_warning  {
  .fxs_alert_variants(@warning_clr; @dark_1_clr);
}

.fxs_alert_info  {
  .fxs_alert_variants(@info_clr; @lightest_clr);
}

.fxs_alertLabel {
  color: @lightest_clr;
  float: left;
  .fxs_alert_live & { background-color: @error_clr; }
  .fxs_alert_featured & { background-color: @highlight_clr; }
  .fxs_alert_warning & { color: @dark_1_clr; }
}

// Dividers
.fxs_divider_wide {
  &:extend(.fxs_divider_base, .fxs_wideContent all);
  height: 5px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.fxs_divider_first {
	&:extend(.fxs_divider_base, .fxs_clearfix all);
  height: 5px;
}

.fxs_divider_second {
	&:extend(.fxs_divider_base, .fxs_clearfix all);
  height: 3px;
}

.fxs_divider_third {
  &:extend(.fxs_divider_base, .fxs_clearfix all);
	height: 1px;
}

.fxs_dateIndicator_divider {
  &:extend(.fxs_divider_base, .fxs_clearfix all);
  color: @dark_4_clr;
  font-size: @txt_size_xsmall;
  padding: 0.25rem 1rem;
}

// Media objects //
.fxs_mediaContainer{
  .fxs_aspectRatio_media(16, 9);
  &:extend(.fxs_transition);
	overflow: hidden;
	margin-bottom: 1rem;
	position: relative;
	img {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
	}
}

// Floating media
.fxs_floatingMedia_module { &:extend(.fxs_clearfix all); }

.fxs_floatingMedia_imageContainer {
  &:extend(.fxs_mediaContainer all);
  display: inline-block;
	float: left;
  margin-right: 1rem;
}

.fxs_floatingMedia_textBody { overflow: hidden; }

// Avatar images
.fxs_avatar_circleImage {
  &:extend(.fxs_floatingMedia_imageContainer);
	border-radius: 50%;
	vertical-align: middle;
}

.fxs_avatar_circleImage_s {
  &:extend(.fxs_avatar_circleImage);
	width: @avatar_s;
	height: @avatar_s;
	margin-bottom: 0;
}

.fxs_avatar_circleImage_m {
  &:extend(.fxs_avatar_circleImage);
	width: @avatar_m;
	height: @avatar_m;
	margin-bottom: 0;
}

// Entry meta info: date, author
.fxs_entry_metaInfo {
	font-size: @txt_size_xsmall;
	time{ color: @light_2_clr; }
}

////////// Dropdowns //////////
.fxs_dropdown_generic {
  .animation(slide-from-top-and-appear 0.35s ease-in);
	display: none;
	position: absolute;
	right: 0;
	top: 98%;
	z-index: 10;
	.fxs_overflowOptions:hover &, .active > & {
		display: block;
		top: 100%;
	}
}
.fxs_dropdownList {
  &:extend(.fxs_dropdown_generic all);
	background-color: @dark_3_clr;
	margin-top: 0.25rem;
	min-width: 170px;
  width: 100%;
  > li {
    > a {
      color: @lightest_clr;
      line-height: @base_module_size - 5;
      text-decoration: none;
      &:hover{ background-color: @dark_4_clr; }
    }
  }
  &:after{
	content: " ";
	display: block;
	position: absolute;
	top: -8px;
	right: 14px;
	border: 4px solid transparent;
	border-bottom-color: @dark_3_clr;
  }
  .fxs_divider_third {
  	margin: 0.5rem 0;
  	background-color: @dark_4_clr;
  }
}

// Dropdown list items
.fxs_dropdownHeader, .fxs_dropdownList > li > a {
  padding: 0 0.88rem;
  white-space: nowrap;
}

.fxs_dropdownHeader {
  .fxs_stiled_text_variants(block; @light_2_clr; @txt_size_xsmall;);
  line-height: @base_module_size;
}

.fxs_dropdownList > li > a {
  &:extend(.fxs_boldAntialised_style);
	display: block;
  font-size: @txt_size_xsmall;
}

//////// Variant dropdown //////
.fxs_btnGroup_dropdownList {
	background-color: @dark_2_clr;
	&:extend(.fxs_dropdown_generic all);
	[class^="fxs_btn"] {
		color: @lightest_clr;
		&:hover { .opacity(.75); }
	}
}

// trigger/holder btn Group dd
.fxs_overflowOptions {
	position: relative;
  display: inline-block;
	&:hover, &.active {
		> [class^="fxs_btn"] {
			background-color: @dark_2_clr;
			color: @lightest_clr;
		}
	}
}

// Close Icon
.fxs_close {
    display: block;
    float: right;
    color: @lightest_clr;
    padding: 0 10px;
    margin-top: -5px;
    font-size: @txt_size_large;
    &:hover { .opacity(.75); }
}

////////// Tables //////////
.fxs_table {
	width: 100%;
 	max-width: 100%;
 	font-size: @txt_size_small;
 	> thead > tr > th{ vertical-align: bottom; }
 	> tbody > tr > td,
 	> tbody > tr > th,
 	> tfoot > tr > td,
 	> tfoot > tr > th,
 	> thead > tr > td,
 	> thead > tr > th  {
 		padding: 8px;
  		line-height: 1.42857143;
  		vertical-align: top;
  		border-bottom: 1px solid @light_3_clr;
 	}
 	th {
    &:extend(.fxs_boldAntialised_style);
 		color: @light_2_clr;
 		text-align: left; 
 	}
}

caption {
	font-size: @txt_size_small;
	color: @light_1_clr;
	padding: 0.5rem 0;
	text-align: left;
}

//////////////////////////////
////////// Loaders //////////
.fxs_feedbackLoading_msg {
  .animation(just-appear 0.5s ease-in);
  padding: 1em;
  color: @light_2_clr;
  text-align: center;
  margin-bottom: 0.5rem;
  display: none; // It'll be shown by js
  .background-image(linear-gradient(to bottom, @lightest_clr 0%,@light_4_clr 25%));
  .fxs_loadingStatus {
    &:extend(.fxs_headline_nano);
    display: block;
    clear: both;
  }
  i {
    font-size: @icon_defaultsize * 1.455;
    margin-bottom: 1rem; 
  }     
}

////////// Social media objects //////////
// General
.fxs_shareOptions_boxed {
  display: inline-block;
  white-space: nowrap;
}

.fxs_socialMedia_item {
  display: inline-block;
  vertical-align: middle;
}

// Spescific for Header title block in detail pages
.fxs_shareContent_holder {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  @media (min-width: @screen-m){ display: block; }
  .fxs_shareOptions_boxed { background-color: @light_4_clr; }
  > ul > li > .fxs_btn_socialMedia {
    color: @dark_2_clr;
    &:hover{
      background-color: @dark_2_clr;
      color: @lightest_clr;
    }
  }
}

// Spescific for sidebar botton nav
.fxs_shareContent_sidebar_nav{
  padding:2rem 0 0 10px;
  .fxs_btn_socialMedia {
    color: @light_1_clr;
    &:hover{
        background-color: @dark_3_clr;
        color: @lightest_clr;
    }
  }
}

// Spescific for subscribe social media widget
.fxs_suscribeSocialBtn {
  li { margin: 0 0.5rem 0 0; }
  .fxs_btn_socialMedia {
    background-color: @lightest_clr;
    color: @dark_2_clr;
    &:hover { .opacity(.75); }
  }
}

///////////////////////////////////////////////////////////////
////////////////////// FXStreet FILTER ///////////////////////
///////////////////////////////////////////////////////////////

.fxs_queryResults, .fxs_queryResults_label { display: none; }

.fxs_filter{
  &:extend(.fxs_transition);
  position: absolute;
  top: 0;
  right: 0;
  width: @base_module_size; 
  &.active {
    width: 100%;
    .fxs_btn_filter { color: @light_2_clr; }
    .fxs_typeaheadField {
      input {
        border-color: @light_3_clr;
        padding-right: @base_module_size;
        &:hover { border-color: @light_2_clr; }
        &:focus { border-color: @highlight_clr; }
      }
    }
    .fxs_queryResults {
      display: block;
      &.fxs_selectedQuery {
        .fxs_queryResults_label {
          .animation(just-appear 0.25s ease-in);
          display: block;
        }
      }
    }
  }
}

.fxs_btn_filter {
  &:extend(.fxs_btn_icon);
  position: absolute;
  color: @dark_3_clr;
  top: 0;
  left: 0;
  z-index: 100;
  &:hover { .opacity(.75); }
}

.fxs_queryResults {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

.fxs_dismissQuery{
    &:extend(.fxs_btn_icon);
    .animation(just-appear 0.5s ease-in);
    color: @dark_3_clr;
    &:hover { .opacity(.75); }
}

.fxs_queryResults_label{
    &:extend(.fxs_mutedContent_label);
    float: left;
    line-height: @base_module_size; 
    margin-top: 0;
    margin-right: -5px;
}

// TYPEAHEAD
.fxs_typeaheadContainer {
  position: relative;
  &.result .fxs_typeaheadList { display: block!important; }
  .fxs_typeaheadList { display: none!important; }
  &.hint .typeahead-hint { visibility: visible!important; }
  .typeahead-hint { visibility: hidden!important; }
}

.fxs_typeaheadField {
  position: relative;
  width: 100%;
  input {
    width: 100%;
    line-height: @base_module_size;
    padding: 5px 0 5px @base_module_size;
    border-width: 0;
    border-bottom-width: 3px;
    &.disabled, &[disabled] {
      cursor: not-allowed;
      background-color: @light_5_clr;
      opacity: 1;
    }
    &.typeahead-hint[readonly] {
      background-color: transparent;
      border:none!important;
    }
    &, &:hover { border-color: transparent; }
  }
}

.fxs_typeaheadQuery {
  background: @lightest_clr;
  position: relative;
  z-index: 10;
}

// Typeahead results list
.fxs_typeaheadList {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  width: 100%;
  font-size: @txt_size_small;
  text-align: left;
  background-color: @lightest_clr;
  border: 1px solid @light_5_clr;
  > li {
    position: relative;
    border-bottom: solid 1px @light_5_clr;
    &:last-child { border-bottom: none; }
    a {
      display: block;
      padding: 5px 1rem;
      clear: both;
      font-weight: @txt_fontweight;
      line-height: @base_module_size;
      color: @dark_4_clr;
      white-space: nowrap;
      vertical-align: middle;
    }
    a:hover, a:focus, &.active a {
      background-color: @light_4_clr;
      color: @dark_3_clr;
      text-decoration: none;
    }
    &.fxs_typeaheadGroup {
      border-bottom: none;
      padding-top: 1rem;
      a, a:hover, a:focus, &.active a {
        .fxs_stiled_text_variants(block; @light_2_clr; @txt_size_xsmall);
        background-color: @lightest_clr;
        cursor: default;
        line-height: @base_module_size / 2;
      }
    }
  }
  // Extra styles
  strong { background-color: @light_3_clr; }
  .fxs_typeaheadTxt { display: inline-block; }
}