/////////////////////////////////////////////////////////////////////////////////////
////////////////////////// App basic components ////////////////////////////////////
////// Elements that function as a unit and can be mixed to build widgets /////////
//////////////////////////////////////////////////////////////////////////////////

/// LIST MENUS

// Lista que pone Pablo
//

// La otra lista que pone Pablo
//

// Mini-menu: barra topics (.fxs_content_subnav) y footer
.fxs_subnavInlined_list {
  display: none;
  @media (min-width: @screen-l) { display: inline-block; }
  li {
    display: inline-block;
    padding-right: 5px;
  }
}

// SECTION & SUBSECTION TITLES
.fxs_sectionTitle_header {
  .fxs_stiled_text_variants(inline-block; @dark_3_clr; @txt_defaultsize_rem);
  @media (min-width: @screen-m) { line-height: @main_header_height;  }
}

.fxs_subsectionTitle {
	.fxs_stiled_text_variants(inline-block; @dark_4_clr; @txt_size_small);
	background-color: @light_3_clr;
	margin: 0 0 1rem -1rem;
	padding: 0 0.8rem;
}

.fxs_subtitle {
  .fxs_stiled_text_variants(inline-block; @dark_4_clr; @txt_size_xsmall);
  margin-bottom: 1rem;
  border-bottom: 3px solid @light_4_clr;
}

.fxs_helperLabel_title {
  .fxs_stiled_text_variants(inline-block; @dark_4_clr; @txt_size_small);
  margin-right: 0.5rem;
}

// BUTTONS
.fxs_btn, .fxs_btn_icon {
  .fxs_btn_properties(2px solid transparent; @base_module_size; 0.25rem 0; 0 1rem);
  line-height: @base_module_size - 2;
}

.fxs_btn { font-size: @txt_size_small; }

.fxs_btn_icon {
  font-size: @icon_defaultsize;
  width: @base_module_size;
  padding: 0;
}

.fxs_btn_small {
  height: @base_module_size - 5;
  line-height: @base_module_size - 9;
}

.fxs_btn_block {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
}

// Button variants
.fxs_btn_default {
  .fxs-button-variants(@lightest_clr; @brand_highlight_clr; @brand_highlight_clr);
}

.fxs_btn_cta {
  .fxs-button-variants(@lightest_clr; @highlight_clr; @highlight_clr);
}

.fxs_btn_functional {
  .fxs-button-variants(@lightest_clr; @dark_1_clr; @dark_1_clr);
}

.fxs_btn_danger {
  .fxs-button-variants(@lightest_clr; @error_clr; @error_clr);
}

.fxs_btn_line {
  .fxs-button-variants(@dark_1_clr; @dark_1_clr; @dark_1_clr);
  &.inverse, .fxs_pageSidebar & { .fxs-button-variants(@lightest_clr; @lightest_clr; @lightest_clr); }
}

// LABELS
.fxs_label, .fxs_alertLabel {
	.fxs_stiled_text_variants(inline-block; @dark_4_clr; @txt_size_xsmall);
  margin: 0 0.5rem 0 0;
  padding: 1px 0.4rem;
}

.fxs_label_featured  {
  .fxs_label_variants(@highlight_clr; @lightest_clr);
}

.fxs_label_success  {
  .fxs_label_variants(@success_clr; @lightest_clr);
}

.fxs_label_info  {
  .fxs_alert_variants(@info_clr; @lightest_clr);
}

.fxs_label_warning  {
  .fxs_label_variants(@warning_clr; @dark_1_clr);
}

.fxs_label_error  {
  .fxs_label_variants(@error_clr; @lightest_clr);
}

.fxs_label_muted  {
  .fxs_label_variants(@light_2_clr; @lightest_clr);
}

// BADGES
.fxs_badge{
  border-radius:50%;
  background-color:@error_clr;
  color:@lightest_clr;
  display: inline-block;
  font-size: @txt_size_nano;
  line-height: 1rem;
  margin: 0 0.5rem 0 0;
  min-width: 1rem;
  text-align:center;
  vertical-align: middle;
  white-space: nowrap;
}

// ALERTS
.fxs_alert {
  &:extend(.fxs_wideContent_bordered all);
  .animation(grow-and-show 0.5s ease-in-out);
  border-bottom: 5px solid @light_4_clr;
  font-size: @txt_size_small;
  line-height: @txt_lineheight_reset;
  margin-bottom: 2rem;
  padding: 0.5rem;
  .fxs_alertText { margin-bottom: 0; }
  a {
    text-decoration: underline;
    &:hover { text-decoration: none; }
  }
}

.fxs_alert_featured, .fxs_alert_live  {
  .fxs_alert_variants(@dark_2_clr; @lightest_clr);
}

.fxs_alert_error  {
  .fxs_alert_variants(@error_clr; @lightest_clr);
}

.fxs_alert_success  {
  .fxs_alert_variants(@success_clr; @lightest_clr);
}

.fxs_alert_warning  {
  .fxs_alert_variants(@warning_clr; @dark_1_clr);
}

.fxs_alert_info  {
  .fxs_alert_variants(@info_clr; @lightest_clr);
}

.fxs_alertLabel {
  color: @lightest_clr;
  float: left;
  .fxs_alert_live & { background-color: @error_clr; }
  .fxs_alert_featured & { background-color: @highlight_clr; }
  .fxs_alert_warning & { color: @dark_1_clr; }
}

// DIVIDERS
.fxs_divider_wide {
  &:extend(.fxs_divider_base, .fxs_wideContent all);
  height: 5px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.fxs_divider_first {
	&:extend(.fxs_divider_base, .fxs_clearfix all);
  height: 5px;
}

.fxs_divider_second {
	&:extend(.fxs_divider_base, .fxs_clearfix all);
  height: 3px;
}

.fxs_divider_third {
  &:extend(.fxs_divider_base, .fxs_clearfix all);
	height: 1px;
}

.fxs_dateIndicator_divider {
  &:extend(.fxs_divider_base, .fxs_clearfix all);
  color: @dark_4_clr;
  font-size: @txt_size_xsmall;
  padding: 0.25rem 1rem;
}

// MEDIA OBJECTS
.fxs_mediaContainer, .fxs_entryFeatured_img {
  .fxs_aspectRatio_media(16, 9);
  margin-bottom: 1rem;
}

// Floating media
.fxs_floatingMedia_imageContainer {
  .fxs_aspectRatio_media(16, 9);
  display: inline-block;
	float: left;
  margin-right: 1rem;
}

.fxs_floatingMedia_textBody { overflow: hidden; }

// AVATAR IMAGES
.fxs_avatar_circleImage, .fxs_avatar_circleImage_s,
.fxs_avatar_circleImage_m, .fxs_avatar_circleImage_l {
  .fxs_aspectRatio_media(1, 1);
  display: inline-block;
	border-radius: 50%;
	vertical-align: middle;
}

.fxs_avatar_circleImage_s {
	width: @avatar_s;
	height: @avatar_s;
}

.fxs_avatar_circleImage_m {
	width: @avatar_m;
	height: @avatar_m;
}

.fxs_avatar_circleImage_l {
  width: @avatar_l;
  height: @avatar_l;
}

/// DROPDOWNS
.fxs_dropdown_generic {
  .animation(slide-from-top-and-appear 0.35s ease-in);
	display: none;
	position: absolute;
	right: 0;
	top: 98%;
	z-index: 10;
	.fxs_overflowOptions:hover &, .active > & {
		display: block;
		top: 100%;
	}
}
// Dropdown list
.fxs_dropdownList {
  &:extend(.fxs_dropdown_generic all);
	background-color: @dark_3_clr;
	margin-top: 0.25rem;
	min-width: 170px;
  width: 100%;
  > li {
    > a {
      color: @lightest_clr;
      line-height: @base_module_size - 5;
      text-decoration: none;
      &:hover{ background-color: @dark_4_clr; }
    }
  }
  &:after{
	content: " ";
	display: block;
	position: absolute;
	top: -8px;
	right: 14px;
	border: 4px solid transparent;
	border-bottom-color: @dark_3_clr;
  }
  .fxs_divider_third {
  	margin: 0.5rem 0;
  	background-color: @dark_4_clr;
  }
}
// Dropdown list items
.fxs_dropdownHeader, .fxs_dropdownList > li > a {
  padding: 0 0.88rem;
  white-space: nowrap;
}

.fxs_dropdownHeader {
  .fxs_stiled_text_variants(block; @light_2_clr; @txt_size_xsmall;);
  line-height: @base_module_size;
}

.fxs_dropdownList > li > a {
  &:extend(.fxs_boldAntialised_style);
	display: block;
  font-size: @txt_size_xsmall;
}

// Variants dropdown
.fxs_btnGroup_dropdownList {
	background-color: @dark_2_clr;
	&:extend(.fxs_dropdown_generic all);
	[class^="fxs_btn"] {
		color: @lightest_clr;
		&:hover { .opacity(.75); }
	}
}

// trigger/holder btn Group dd
.fxs_overflowOptions {
	position: relative;
  display: inline-block;
	&:hover, &.active {
		> [class^="fxs_btn"] {
			background-color: @dark_2_clr;
			color: @lightest_clr;
		}
	}
}

// Close Icon
.fxs_close {
    display: block;
    float: right;
    color: @lightest_clr;
    padding: 0 10px;
    margin-top: -5px;
    font-size: @txt_size_large;
    &:hover { .opacity(.75); }
}

/// TABLES
.fxs_table {
	width: 100%;
 	max-width: 100%;
 	font-size: @txt_size_small;
 	> thead > tr > th{ vertical-align: bottom; }
 	> tbody > tr > td,
 	> tbody > tr > th,
 	> tfoot > tr > td,
 	> tfoot > tr > th,
 	> thead > tr > td,
 	> thead > tr > th  {
 		padding: 8px;
  		line-height: 1.42857143;
  		vertical-align: top;
  		border-bottom: 1px solid @light_3_clr;
 	}
 	th {
    &:extend(.fxs_boldAntialised_style);
 		color: @light_2_clr;
 		text-align: left; 
 	}
}

caption {
	font-size: @txt_size_small;
	color: @light_1_clr;
	padding: 0.5rem 0;
	text-align: left;
}

// LOADERS
.fxs_feedbackLoading_msg {
  .animation(just-appear 0.5s ease-in);
  padding: 1em;
  color: @light_2_clr;
  text-align: center;
  margin-bottom: 0.5rem;
  display: none; // It'll be shown by js
  .background-image(linear-gradient(to bottom, @lightest_clr 0%,@light_4_clr 25%));
  .fxs_loadingStatus {
    &:extend(.fxs_headline_nano);
    display: block;
    clear: both;
  }
  i {
    font-size: @icon_defaultsize * 1.455;
    margin-bottom: 1rem; 
  }     
}

// MISCELLANEOUS

///////////////// Social media objects /////////////
.fxs_shareOptions_boxed {
  display: inline-block;
  white-space: nowrap;
  .fxs_btn_icon { margin: 0; }
}

.fxs_socialMedia_item {
  display: inline-block;
  vertical-align: middle;
}

// Social media objects - Spescific for Header title block in detail pages
.fxs_shareContent_holder {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  @media (min-width: @screen-m){ display: block; }
  .fxs_shareOptions_boxed { background-color: @light_4_clr; }
  > ul > li > .fxs_btn_icon {
    color: @dark_2_clr;
    &:hover{
      background-color: @dark_2_clr;
      color: @lightest_clr;
    }
  }
}

// Social media object - Spescific for sidebar botton nav
.fxs_shareContent_sidebar_nav{
  padding: 1rem 10px;
  .fxs_btn_icon {
    color: @light_1_clr;
    &:hover{
      background-color: @dark_3_clr;
      color: @lightest_clr;
    }
  }
}

// Social media object - Spescific for subscribe social media widget
.fxs_suscribeSocialBtn {
  li { margin: 0 0.5rem 0 0; }
  .fxs_btn_icon {
    background-color: @lightest_clr;
    color: @dark_2_clr;
    &:hover { .opacity(.75); }
  }
}

// Entry meta info: date, author, company
.fxs_entry_metaInfo {
  font-size: @txt_size_xsmall;
  time{ color: @light_2_clr; }
}

// Entry related content: related content in colums for detail pages
.fxs_relatedContent_holder {
  .make-row();
  overflow: hidden;
  letter-spacing: -1em;
  margin-right: -1rem;
  @media (min-width: @screen-m) { margin-right: -0.5rem; }
}

.fxs_relatedItem {
  &:extend(.fxs_transition);
  padding-bottom: 1rem;
  min-height: 175px;
  @media (min-width: @screen-m) { min-height: 230px; }
  @media (min-width: @screen-xl) { min-height: 280px; }
  &:hover {
    cursor: pointer;
    border-bottom: 4px solid @highlight_clr;
    a { color: @highlight_clr; }
    .fxs_entryFeatured_img { opacity: 0.8; }
  }
}

.fxs_relatedContentSlot_x3_cols {
  &:extend(.fxs_relatedContentSlot all);
  .make-sm-column(4); 
  .fxs_entryHeadline {
    &:extend(.fxs_headline_from_nano_to_small all);
  }
}
.fxs_relatedContentSlot_x4_cols {
  &:extend(.fxs_relatedContentSlot all);
  .make-sm-column(3);
  .fxs_entryHeadline {
    &:extend(.fxs_headline_from_nano_to_tiny all);
  }
}
