// SUSCRIBE NEWSLETTER
.fxs_suscribe {
  .fxs_wideWidget_pre();
  background-color: @dark_2_clr;
}

.fxs_suscribeForm {
  &:extend(.fxs_clearfix all);
  @media (min-width: @screen-s) { float: left; }
}

.fxs_suscribeSocial {
  &:extend(.fxs_clearfix all);
  @media (min-width: @screen-s) { float: right; }
}

.fxs_suscribeText {
  color: @lightest_clr;
  font-weight: @txt_fontweight_light;
  margin-bottom: 0.5rem;
  span { &:extend(.fxs_boldAntialised_style); }
}

// Entries plain text General
.fxs_entryExcerpt { &:extend(.fxs_entryPlain_txt); }

// SEXY BANNER
.fxs_sexy_banner {
  .fxs_wideWidget_pre();
  position: relative;
  &:hover {
      cursor: pointer;
      .fxs_sexy_bannerText { background-color: fade(@dark_2_clr, 85%); }
      .fxs_sexy_bannerImg { .opacity(.75); }
  }
}

.fxs_sexy_bannerText {
  position: absolute;
  z-index: 1;
  width: 46%;
  top: @txt_defaultsize_rem;
  left: @txt_defaultsize_rem;
  padding: @txt_defaultsize_rem;
  background-color: fade(@dark_2_clr, 80%);
  height: 82%;
  .calc(height, ~'100% - 2rem');
  @media (min-width: @screen-s) {
    padding: 2rem;
    top: 2rem;
    left: 2rem;
    height: 84%;
    .calc(height, ~'100% - 4rem');
  }
  .fxs_entryHeadline, .fxs_entryHeadline a, .fxs_entryPlain_txt, .fxs_helperLabel_title, .fxs_entry_metaInfo { color: @lightest_clr; }
  header, .fxs_helperLabel_title{
      margin-bottom: 0.25rem;
      @media (min-width: @screen-s) { margin-bottom: @txt_defaultsize_rem; }
  }
  .fxs_entryHeadline {
      font-size: @txt_defaultsize_rem;
      line-height: @txt_lineheight;
      @media (min-width: @screen-s) {
          font-size: @txt_size_huge;
          line-height: @txt_lineheight_large;
      }
  }
  .fxs_entryPlain_txt, .fxs_helperLabel_title {
      display: none;
      @media (min-width: @screen-s) { 
          display: inherit;
      }
  }
}

.fxs_sexy_bannerImg {
  &:extend(.fxs_mediaContainer all);
  max-height: 150px;
  margin-bottom: 0;
  @media (min-width: @screen-s) { max-height: 350px; }
}

// Entries list
.fxs_entriesList {
  margin-bottom: 1rem;
  li {
      padding: 1rem 0;
      border-bottom: 3px solid @light_4_clr;
      &:last-child { border-bottom: none; }
  }
  .fxs_entryHeadline {
      &:extend(.fxs_headline_tiny all);
  }
}

// Carousel: Not working quite well
// .fxs_entriesList_carousel {
//   .fxs_wideWidget_pre(@widget-padding-default: 1rem 2rem; @widget-padding-m: 2rem 3rem);
//   position:relative;
//   overflow:hidden;
//   .carousel {
//       position: relative;
//       visibility: hidden;
//       left: -5000px;
//       float: left;
//       li {
//           width: 31%;
//           article { padding: 0.5rem 1rem; }
//       }
//   }
//   .fxs_carousel_wrapper{
//       overflow:hidden;
//       max-width:100%;
//   }
//   .fxs_prev, .fxs_next {
//       display: block;
//       position:absolute;
//       margin: 12px 0 0 0;
//       font-size: @txt_size_xhuge;
//       color: @light_1_clr;
//       text-decoration: none;
//       margin-top:-76px;
//   }
//   .fxs_prev{
//       left:1rem;
//   }
//   .fxs_next{
//       right:1rem;
//   }
//   .fxs_entryHeadline {
//       &:extend(.fxs_headline_from_nano_to_tiny all);
//   }
// }

// Entries featured
.fxs_entryFeatured {
  margin-bottom: 1rem;
    header { margin-bottom: 0.5rem; }
    &:hover {
        cursor: pointer;
        .fxs_entryFeatured_img { .opacity(.75); }
    }
}

.fxs_entryFeatured_img {
    &:extend(.fxs_mediaContainer all);
}

.fxs_entryFeatured_big {
    .fxs_entryHeadline { &:extend(.fxs_headline_large all); }
    .fxs_entryExcerpt { &:extend(.fxs_entryPlain_txt_large all); }
}

.fxs_entryFeatured_med {
    .fxs_entryPlain_txt { display: none; }
    .fxs_entryHeadline {
        &:extend(.fxs_headline_medium all);
    }
    @media (min-width: @screen-s) {
        .fxs_entryPlain_txt { display: inherit; }
    }
}

.fxs_entryFeatured_reduced {
    .fxs_entryHeadline {
        &:extend(.fxs_headline_from_nano_to_small all);
    }
}

.fxs_entryFeatured_imgSide {
  &:extend(.fxs_clearfix all);
  .fxs_entryPlain_txt { display: none; }
  .fxs_entryFeatured_img {
      &:extend(.fxs_floatingMedia_imageContainer);
      margin-bottom: 0;
      width: 33%; 
  }
  .fxs_entryHeadline {
      &:extend(.fxs_headline_medium all);
  }
  @media (min-width: @screen-s) {
      .fxs_entryPlain_txt { display: inherit; }
  }
}

// sponsor bg content and main img
.fxs_sponsor_container {
  &:extend(.fxs_clearfix all);
  background-image: none;
  background-color: transparent;
  margin: 0 -3px;
  padding: 1rem 3px;
  @media(min-width: @screen-m){
    padding: 1rem 5px;
    margin: 0 -5px 0 0;
  }
  @media(min-width: @screen-l){
    padding: 1rem;
    margin: 0 -1rem;
  }
}
 
.fxs_main_sponsor {
  overflow: hidden;
  text-align: center;
  max-height: 0;
  .fxs_inVisualField & { .animation(show-sponsor-from-top 0.5s ease-in 0.6s forwards); }
  img {
    display:inline-block;
    height:auto;
    min-height:inherit;
    min-width: inherit;
  }
}

.fxs_leaderboard_sponsor{
  display: none;
  .fxs_inVisualField & { display: block; }
}
    
