button, input {
  border: 0;
  border-radius: 0;
  font-family: @txt_fontfamily;
}

// Text inputs & fields
input[type=text], input[type=email], input[type=password], input[type=search], input[type=tel], textarea {
    &:extend(.fxs_transition);
    -webkit-appearance: none; // Reset para safari y iOS
    height: @base_module_size;
    background-color: @lightest_clr;
    border: 1px solid @dark_3_clr;
    color: @dark_4_clr;
    font-size: @txt_size_small;
    padding: 5px 1rem;
    &:hover { border-color: @light_2_clr; }
    &:focus {
        outline: 0;
        border-color: @highlight_clr;
    }
    &:invalid, &.fxs_hasError { border-color: @error_clr; }
}

input[type="search"]{
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration { display: none; }
}

input[type=checkbox]{
    -webkit-appearance: checkbox; // default state don't display checkbox ??
    vertical-align:top;
    margin-right: 0.5rem;
}

label {
    &:extend(.fxs_boldAntialised_style);
    display: inline-block;
    margin-bottom: 0.5rem;
}

///////////////////////////////////////////////////////
//////////////// Buttons basic styles ////////////////
// BTN
button, input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

///////////////////////////////////////////////////////////
////////// Forms grouped layouts & input groups //////////
.fxs_formGroup {
    margin-bottom: 0.75rem;
    .fxs_textInput { width: 100%; }
}

.fxs_checkboxGroup {
    font-size: @txt_size_xsmall;
    margin-bottom: 0;
}

.fxs_inputGroup_iconLabel {
    position: relative;
    .fxs_btn_icon {
        color: @light_3_clr;
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        z-index: 1;
    }
    .fxs_textInput { padding-left: @base_module_size;}
}

.fxs_subscribeForm_group {
  margin-bottom: 1rem;
  display: inline-block;
  > * { margin-bottom: 0.5rem; }
  @media (min-width: @screen-s) { width: auto; }
  .fxs_textInput {
    vertical-align: middle;
    width: 100%;
    display: inline-block;
    @media (min-width: @screen-s) {
        width: auto;
        min-width: 250px;
    }
    @media (min-width: @screen-l) { min-width: 320px; }
  }
}